/*============================================== */
/*---------------------------------------------- */
/*					  STYLE 	 				 */
/*============================================== */
/* Author	: Arief Budi Prasetyo				 */
/* For 		: Detail Etalasebaju				 */
/* Version	: 1.0								 */
/* Email	: arief.prasetyo911@gmail.com 		 */
/*---------------------------------------------- */
/*============================================== */
/* header */
/* body */
body {
  font-size: 16px;
  font-style: normal; }

/* footer */
@media only screen and (min-width: 1224px) {
  .header .navbar {
    background-color: #ff4500; }
    .header .navbar .container-fluid .navbar-header {
      -webkit-padding-start: 100px;
      -moz-padding-start: 100px;
      padding-left: 100px; }
      .header .navbar .container-fluid .navbar-header a.fa-left {
        color: white;
        -webkit-padding-before: 20px;
        -moz-padding-before: 20px;
        padding-top: 20px;
        margin-left: -25px;
        -webkit-margin-start: -25px;
        -moz-margin-start: -25px; }
      .header .navbar .container-fluid .navbar-header a.logo {
        -webkit-margin-before: -10px;
        -webkit-padding-start: 30px;
        -moz-margin-before: -10px;
        -moz-padding-start: 30px;
        padding-left: -10px;
        padding-right: 30px;
        margin-top: -8px; }
      .header .navbar .container-fluid .navbar-header img.logo {
        height: 230%;
        margin-left: -15px; }
      .header .navbar .container-fluid .navbar-header ul.multi-level {
        border-top: 3px solid #ff4500;
        -webkit-margin-start: 104px;
        -moz-padding-start: 0;
        margin-left: 104px;
        margin-top: 0; }
        .header .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header .navbar .container-fluid .navbar-collapse .form-group input.field {
      width: 550px;
      height: 37px;
      border-radius: 0;
      margin-top: 1px;
      -webkit-margin-before: 1px;
      margin-left: -35px;
      -webkit-margin-start: -35px; }
      .header .navbar .container-fluid .navbar-collapse .form-group input.field:focus {
        border-color: transparent; }
    .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-toggle {
      height: 37px;
      border-radius: 0;
      margin-top: 0.5px; }
    .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-menu-right {
      border-top: 3px solid #ff4500;
      margin-top: 9px; }
    .header .navbar .container-fluid .navbar-collapse button.btn-sm {
      border: transparent;
      border-radius: 0;
      padding: 0;
      margin-left: 5px;
      margin-left: -21px; }
      .header .navbar .container-fluid .navbar-collapse button.btn-sm img {
        height: 39px; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: 44px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown li a.notification {
        padding-right: 0; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: 3px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:active {
          color: #ccc; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:focus {
          background-color: #ff4500; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle .img-circle {
          width: 30px;
          height: 30px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 4px;
        margin-right: 16px;
        -webkit-margin-end: 16px;
        -moz-margin-end: 16px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .form-group {
          margin-bottom: 10px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass {
          margin-bottom: 10px; }
          .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass .forgot {
            margin-top: -10px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header .container {
    -webkit-margin-before: 65px;
    -moz-margin-before: 65px;
    margin-top: 65px; }
    .header .container ol.breadcrumb {
      background-color: white;
      padding-left: 0px; }
    .header .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 25px;
      -webkit-margin-after: 25px;
      margin-top: -15px;
      -webkit-margin-before: -15px; }

  .main_content .container .panel {
    border-radius: 0; }
    .main_content .container .panel .col-xs-12 .widget-top .col-xs-12 .top1 {
      padding: 0;
      -webkit-margin-start: -14px;
      -moz-margin-start: -14px;
      margin-left: -14px; }
      .main_content .container .panel .col-xs-12 .widget-top .col-xs-12 .top1 .dropdown button.dropdown-toggle {
        border-radius: 0;
        width: 110%; }
    .main_content .container .panel .col-xs-12 .widget-top .col-xs-12 .top2 {
      padding: 0;
      -webkit-margin-start: -14px;
      -moz-margin-start: -14px;
      margin-left: -14px; }
      .main_content .container .panel .col-xs-12 .widget-top .col-xs-12 .top2 .dropdown button.dropdown-toggle {
        border-radius: 0;
        width: 110%;
        -webkit-margin-start: 32px;
        -moz-margin-start: 32px;
        margin-left: 32px; }
      .main_content .container .panel .col-xs-12 .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu {
        -webkit-margin-start: 32px;
        margin-left: 32px; }
    .main_content .container .panel .col-xs-12 .widget-top table.table-price {
      border-top: 0; }
      .main_content .container .panel .col-xs-12 .widget-top table.table-price tr td#price1 {
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        padding-left: 0;
        border-top: 0; }
        .main_content .container .panel .col-xs-12 .widget-top table.table-price tr td#price1 h4 {
          font-weight: bold; }
      .main_content .container .panel .col-xs-12 .widget-top table.table-price tr td#price2 {
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        padding-left: 0;
        border-top: 0; }
        .main_content .container .panel .col-xs-12 .widget-top table.table-price tr td#price2 h4 {
          font-weight: 800;
          color: orange; }
    .main_content .container .panel .col-xs-12 .widget-top p {
      -webkit-margin-before: -30px;
      margin-top: -30px;
      text-align: center; }
    .main_content .container .panel .col-xs-12 .widget-top table.table-stock {
      border-top: 0;
      -webkit-margin-before: -15px;
      -moz-margin-before: -15px;
      margin-top: 15px; }
      .main_content .container .panel .col-xs-12 .widget-top table.table-stock tr td#stock1 {
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        padding-left: 0;
        border-top: 0; }
        .main_content .container .panel .col-xs-12 .widget-top table.table-stock tr td#stock1 h4 {
          font-weight: bold; }
      .main_content .container .panel .col-xs-12 .widget-top table.table-stock tr td#stock2 {
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        padding-left: 0;
        border-top: 0; }
        .main_content .container .panel .col-xs-12 .widget-top table.table-stock tr td#stock2 h4 {
          font-weight: 800;
          color: black; }
    .main_content .container .panel .col-xs-12 .widget-top .row {
      -webkit-margin-before: -20px;
      -moz-margin-before: -20px;
      margin-top: -20px; }
      .main_content .container .panel .col-xs-12 .widget-top .row .titles h4 {
        font-weight: bold;
        color: black; }
      .main_content .container .panel .col-xs-12 .widget-top .row .contents {
        font-weight: 800;
        color: black; }
        .main_content .container .panel .col-xs-12 .widget-top .row .contents input.form-control {
          text-align: center; }
    .main_content .container .panel .col-xs-12 .divider {
      border-bottom: 1px solid #ccc;
      -webkit-margin-before: 10px;
      -moz-margin-before: 10px;
      margin-top: 10px; }
    .main_content .container .panel .col-xs-12 .widget-center {
      -webkit-margin-before: 15px;
      -moz-margin-before: 15px;
      margin-top: 15px; }
      .main_content .container .panel .col-xs-12 .widget-center a img.cart {
        width: 100%; }
      .main_content .container .panel .col-xs-12 .widget-center a img.buy {
        width: 100%;
        -webkit-margin-before: 10px;
        -moz-margin-before: 10px;
        margin-top: 10px; }
    .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 {
      -webkit-margin-before: 10px;
      -moz-margin-before: 10px;
      margin-top: 10px; }
      .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle {
        -webkit-margin-before: 10px;
        -moz-margin-before: 10px;
        margin-top: 10px; }
        .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle img.agent {
          width: 100%; }
      .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu li a img.agent {
        width: 100%; }
      .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 img.reguler {
        -webkit-margin-before: 10px;
        -moz-margin-before: 10px;
        margin-top: 10px; }
      .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .row .col-xs-4 img.yes {
        -webkit-margin-before: 10px;
        -moz-margin-before: 10px;
        margin-top: 10px; }
    .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 p#share-title {
      font-weight: bold;
      -webkit-margin-before: 50px;
      -webkit-margin-after: -50px;
      margin-top: 50px;
      margin-bottom: -50px; }
    .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .share {
      -webkit-margin-before: 50px;
      margin-top: 50px; }
      .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .share .col-xs-4 a img.sosmed {
        background-color: transparent; }
        .main_content .container .panel .col-xs-12 .widget-bottom .col-xs-12 .share .col-xs-4 a img.sosmed:hover {
          background-color: transparent; }
    .main_content .container .panel .image .col-xs-4 .row .col-xs-12 .thumbnail {
      -webkit-margin-after: 5px;
      margin-bottom: 5px;
      object-fit: cover;
      padding: 0;
      border-radius: 0; }
      .main_content .container .panel .image .col-xs-4 .row .col-xs-12 .thumbnail img {
        width: 100%; }
    .main_content .container .panel .image .col-xs-8 .thumbnail {
      -webkit-margin-after: 5px;
      margin-bottom: 5px;
      object-fit: cover;
      padding: 0;
      border-radius: 0; }
      .main_content .container .panel .image .col-xs-8 .thumbnail img {
        width: 100%; }
    .main_content .container .panel .desc h1 {
      font-weight: bold;
      -webkit-margin-before: -3px;
      margin-top: -3px; }
    .main_content .container .panel .desc .divider {
      -webkit-margin-after: 10px;
      margin-bottom: 10px; }
    .main_content .container .panel .desc p {
      text-align: justify; }
    .main_content .container .panel .desc ul {
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      padding-left: 0; }
      .main_content .container .panel .desc ul li {
        list-style: none; }
    .main_content .container .panel .tab {
      -webkit-margin-before: 35px;
      margin-top: 35px; }
      .main_content .container .panel .tab #content ul#tabs li a.tab {
        font-weight: bold; }
        .main_content .container .panel .tab #content ul#tabs li a.tab:hover {
          color: orange; }
      .main_content .container .panel .tab #content ul#tabs li.active a.tab {
        font-weight: bold;
        color: orange; }
  .main_content .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 16px;
        font-weight: bold; }

  .footer {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    .footer .col-xs-9 .col-xs-6 h4.etalase-foot {
      color: white;
      text-align: left; }
    .footer .col-xs-9 .col-xs-6 ul.etalase-footer {
      padding-left: 0; }
      .footer .col-xs-9 .col-xs-6 ul.etalase-footer li {
        list-style: none; }
        .footer .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer {
          text-decoration: none;
          color: white; }
          .footer .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer:hover {
            color: #1a1a1a; }
    .footer .col-xs-9 .supported h4.sponsor {
      text-align: center;
      color: white;
      border-top: 1px solid white;
      -webkit-padding-before: 15px;
      padding-top: 15px; }
    .footer .col-xs-9 .supported .sup {
      margin-left: 20px; }
    .footer .col-xs-9 .divider {
      border-bottom: 1px solid white; }
    .footer .col-xs-9 .copyright p {
      text-align: center;
      font-weight: bold;
      color: white;
      -webkit-margin-before: 20px;
      margin-top: 20px; }
    .footer .col-xs-3 {
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      padding-left: 0; }
      .footer .col-xs-3 h5 {
        color: white;
        text-decoration: divider; }
      .footer .col-xs-3 .divider {
        border-bottom: 1px solid white; }
      .footer .col-xs-3 .top {
        -webkit-padding-before: 20px;
        padding-top: 20px;
        padding: 0; }
        .footer .col-xs-3 .top h4 {
          font-weight: bold;
          color: white; }
        .footer .col-xs-3 .top .col-xs-12 {
          -webkit-margin-after: -30px;
          margin-bottom: -35px;
          padding: 0; }
          .footer .col-xs-3 .top .col-xs-12 .contact {
            border-bottom: 0; }
            .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact1 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent;
              text-align: left; }
              .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact1 h5#addr {
                -webkit-margin-end: -35px; }
            .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact2 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
              .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact2 h5 {
                position: absolute;
                left: 55px; }
      .footer .col-xs-3 .bottom {
        -webkit-padding-before: 20px;
        padding-top: 20px;
        padding: 0; }
        .footer .col-xs-3 .bottom h4 {
          font-weight: bold;
          color: white; }
        .footer .col-xs-3 .bottom .col-xs-12 {
          -webkit-margin-after: -30px;
          margin-bottom: -35px;
          padding: 0; }
          .footer .col-xs-3 .bottom .col-xs-12 .contact {
            border-bottom: 0; }
            .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
              .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 h5#addr {
                -webkit-margin-end: -35px;
                margin-right: -35px; }
            .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact2 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
        .footer .col-xs-3 .bottom #addr {
          -webkit-margin-after: 0;
          margin-bottom: 0; } }
/*============================================== */
/*---------------------------------------------- */
/*				  TABLET STYLE 	 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Detail			 */
/* Responsive	: Tablet						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
body {
  font-size: 14px;
  font-style: normal; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 85px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 87%;
          margin-left: 5px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: -21px; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -17px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown {
        margin-top: 7px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
          color: white;
          font-weight: bold;
          background-color: #ff4500;
          font-size: 20px;
          margin-top: -3px;
          margin-right: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
          color: #ccc; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
          width: 30px;
          height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 223px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 2px;
        margin-right: 19px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .panel {
    border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-4 .thumbnail {
      padding: 0;
      margin-bottom: 5px;
      object-fit: cover;
      border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-8 .thumbnail {
      padding: 0;
      margin-left: -11px;
      object-fit: cover;
      border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .desc {
      padding-right: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .main_content_tablet .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_tablet .container .panel .col-xs-12 .desc ul li {
        list-style: none;
        margin-left: -40px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top h4 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 0; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top h5#satu {
      margin-bottom: -7px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 {
      margin-left: -31px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 .dropdown button.dropdown-toggle {
        border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 {
      margin-left: 29px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown button.dropdown-toggle {
        border-radius: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li {
        padding-right: -100px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li a {
          margin-right: 70px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
      border-top: transparent;
      padding-left: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
      border-top: transparent; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#satu {
      margin-top: -35px;
      text-align: center; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#dua {
      margin-top: -12px;
      text-align: center; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
      border-top: transparent;
      padding-left: 0;
      padding-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
      border-top: transparent;
      padding-left: 0;
      padding-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row {
      margin-top: -30px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
        font-size: 14px;
        font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .contents {
        margin-top: -7px;
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .divider {
      border-bottom: 1px solid #ccc;
      margin-top: 5px;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
      width: 100%;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
      width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
      text-align: left;
      margin-left: -15px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#reguler {
      margin-left: -5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle {
      margin-left: -13px;
      width: 235%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle img.agent {
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu {
      margin-left: -14px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu li a img.agent {
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
      margin-left: -15px;
      margin-top: 15px;
      font-weight: bold;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .share a img.sosmed {
      margin-left: 0; }
    .main_content_tablet .container .panel .tab {
      margin-top: -10px; }
  .main_content_tablet .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_tablet .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_tablet .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      text-align: center; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .btm {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .btm .top {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .top h4 {
          color: white; }
        .footer-tablet nav.navbar-static-bottom .btm .top .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact {
            margin-bottom: -25px; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; }
      .footer-tablet nav.navbar-static-bottom .btm .bottom {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom h4 {
          color: white;
          margin-top: 30px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact {
            margin-bottom: -15px;
            margin-top: -10px; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 100px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 400px;
          margin-left: 15px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -17px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: 3px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 4px;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .panel {
    border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-4 .thumbnail {
      padding: 2px;
      margin-bottom: 5px;
      object-fit: cover; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-8 .thumbnail {
      padding: 2px;
      margin-left: -11px;
      object-fit: cover; }
    .main_content_tablet .container .panel .col-xs-12 .desc {
      padding-right: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .main_content_tablet .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_tablet .container .panel .col-xs-12 .desc ul li {
        list-style: none;
        margin-left: -40px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel {
      border-radius: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top h4 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top h5#satu {
        margin-bottom: -7px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top1 {
        margin-left: -31px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top1 .dropdown button.dropdown-toggle {
          border-radius: 0;
          width: 110px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 {
        margin-left: 29px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown button.dropdown-toggle {
          border-radius: 0;
          width: 110px;
          margin-left: -5px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li {
          padding-right: -100px; }
          .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li a {
            margin-right: 70px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price1 {
        border-top: transparent;
        padding-left: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price1 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price2 {
        border-top: transparent; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price2 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top p#satu {
        margin-top: -35px;
        text-align: center; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top p#dua {
        margin-top: -12px;
        text-align: center; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock1 {
        border-top: transparent;
        padding-left: 0;
        padding-top: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock1 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock2 {
        border-top: transparent;
        padding-left: 0;
        padding-top: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock2 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row {
        margin-top: -30px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row .titles h4 {
          font-size: 14px;
          font-weight: bold; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row .contents {
          margin-top: -7px;
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .divider {
        border-bottom: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-center a img.cart {
        width: 100%;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-center a img.buy {
        width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
        text-align: left;
        margin-left: -15px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 p#reguler {
        margin-left: -5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle {
        margin-left: -13px;
        width: 130%; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle img.agent {
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu {
        margin-left: -14px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu li a img.agent {
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 p#share-title {
        margin-left: -15px;
        margin-top: 15px;
        font-weight: bold;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .share a img.sosmed {
        margin-left: 0; }
    .main_content_tablet .container .panel .tab {
      margin-top: -10px; }
  .main_content_tablet .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_tablet .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_tablet .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      margin-left: 30%; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top h4 {
        color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
          margin-bottom: -25px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom h4 {
        color: white;
        margin-top: 30px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
          margin-bottom: -15px;
          margin-top: -10px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; } }
/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju					 */
/* Responsive	: Smartphone						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container {
    margin-top: 60px; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: 0;
      -webkit-margin-before: 0;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container .panel {
    border-radius: 0; }
    .main_content_smartphone .container .panel .col-xs-12 .image .thumbnail {
      height: 300px;
      border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .image .thumbnail img.image {
        height: 290px;
        width: 100%;
        object-fit: cover; }
    .main_content_smartphone .container .panel .col-xs-12 .desc {
      padding: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .desc h4 {
        font-weight: bold; }
      .main_content_smartphone .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_smartphone .container .panel .col-xs-12 .desc ul {
        padding-left: 0; }
        .main_content_smartphone .container .panel .col-xs-12 .desc ul li {
          list-style: none;
          text-decoration: none; }
    .main_content_smartphone .container .panel .col-xs-12 .sidebar {
      padding: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top h4 {
        font-weight: bold;
        margin-top: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 button.dropdown-toggle {
        width: 170%;
        padding-left: 0;
        margin-left: -30px;
        border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 ul.dropdown-menu {
        margin-left: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 button.dropdown-toggle {
        width: 145%;
        padding-left: 0;
        margin-left: -3px;
        border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 ul.dropdown-menu {
        margin-left: -3px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
        border-top: transparent;
        padding-left: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
        border-top: transparent;
        text-align: right;
        padding-right: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#satu {
        text-align: center;
        margin-top: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#dua {
        text-align: center;
        margin-top: -10px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
        border-top: transparent;
        padding-left: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
        border-top: transparent;
        text-align: right;
        padding-right: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
        margin-top: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .input-group {
        margin-top: -5px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .input-group input.form-control {
          text-align: center; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .divider {
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
        width: 100%;
        margin-top: 10px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
        width: 100%;
        margin-top: 5px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
        margin-left: -15px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle {
        margin-left: -15px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle img.agent {
          width: 100%; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu {
        margin-left: -15px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu li a img.agent {
          width: 100%; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
        font-weight: bold;
        margin-left: -15px;
        margin-top: 20px; }
    .main_content_smartphone .container .panel .tab .container ul.nav-tabs {
      margin-left: 25%;
      text-align: center; }
      .main_content_smartphone .container .panel .tab .container ul.nav-tabs li a {
        text-align: center; }
  .main_content_smartphone .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_smartphone .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_smartphone .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 50px;
      width: 40%;
      margin-right: -15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 15px;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; } }
@media (min-width: 360px) and (max-width: 767px) and (orientation: landscape) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent;
      margin-left: 35%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon a.cart {
        margin-left: 30%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container .breadcrumb {
    margin-bottom: 5px;
    background-color: white;
    padding-left: 0;
    margin-top: 45px; }
  .header-smartphone .container .divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    -webkit-margin-after: 10px;
    margin-top: -10px;
    -webkit-margin-before: -10px;
    margin-left: 0;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    width: 100%; }

  .main_content_smartphone .container .panel {
    border-radius: 0; }
    .main_content_smartphone .container .panel .col-xs-12 .image .thumbnail {
      height: 300px;
      border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .image .thumbnail img.image {
        height: 290px;
        width: 100%;
        object-fit: cover; }
    .main_content_smartphone .container .panel .col-xs-12 .desc {
      padding: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .desc h4 {
        font-weight: bold; }
      .main_content_smartphone .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_smartphone .container .panel .col-xs-12 .desc ul {
        padding-left: 0; }
        .main_content_smartphone .container .panel .col-xs-12 .desc ul li {
          list-style: none;
          text-decoration: none; }
    .main_content_smartphone .container .panel .col-xs-12 .sidebar {
      padding: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top h4 {
        font-weight: bold;
        margin-top: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 button.dropdown-toggle {
        width: 115%;
        padding-left: 0;
        margin-left: -30px;
        border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 ul.dropdown-menu {
        margin-left: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 button.dropdown-toggle {
        width: 115%;
        padding-left: 0;
        margin-left: -3px;
        border-radius: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 ul.dropdown-menu {
        margin-left: -3px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
        border-top: transparent;
        padding-left: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
        border-top: transparent;
        text-align: right;
        padding-right: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#satu {
        text-align: center;
        margin-top: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#dua {
        text-align: center;
        margin-top: -10px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
        border-top: transparent;
        padding-left: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
        border-top: transparent;
        text-align: right;
        padding-right: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
        margin-top: -30px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .input-group {
        margin-top: -5px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .input-group input.form-control {
          text-align: center; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .divider {
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 0; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
        width: 100%;
        margin-top: 10px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
        width: 100%;
        margin-top: 5px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
        margin-left: -15px; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle {
        margin-left: -15px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle img.agent {
          width: 100%; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu {
        margin-left: -15px; }
        .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu li a img.agent {
          width: 100%; }
      .main_content_smartphone .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
        font-weight: bold;
        margin-left: -15px;
        margin-top: 20px; }
    .main_content_smartphone .container .panel .tab .container ul.nav-tabs {
      text-align: center; }
      .main_content_smartphone .container .panel .tab .container ul.nav-tabs li a {
        text-align: center; }
  .main_content_smartphone .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_smartphone .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_smartphone .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -125px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      padding-left: 110px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
        margin-left: 50px;
        width: 40%;
        margin-right: -15px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
        margin-left: 15px;
        width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 30px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 30px; } }
@media (min-width: 320px) and (max-width: 360px) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
        margin-left: 35%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
        padding-left: 50px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container {
    margin-top: 0; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 25px;
      background-color: white;
      margin-top: 55px;
      padding: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container .panel-body .col-xs-12 .image .thumbnail {
    height: 300px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .image .thumbnail img.image {
      height: 290px;
      width: 100%;
      object-fit: cover; }
  .main_content_smartphone .container .panel-body .col-xs-12 .desc {
    padding: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc h4 {
      font-weight: bold; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc p {
      text-align: justify; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc ul {
      padding-left: 0; }
      .main_content_smartphone .container .panel-body .col-xs-12 .desc ul li {
        list-style: none;
        text-decoration: none; }
  .main_content_smartphone .container .panel-body .col-xs-12 .sidebar {
    padding: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top h4 {
      font-weight: bold;
      margin-top: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 button.dropdown-toggle {
      width: 175%;
      padding-left: 3px;
      margin-left: -30px;
      border-radius: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 ul.dropdown-menu {
      margin-left: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 button.dropdown-toggle {
      width: 145%;
      padding-left: 0;
      margin-left: -3px;
      border-radius: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 ul.dropdown-menu {
      margin-left: -3px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
      border-top: transparent;
      padding-left: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
      border-top: transparent;
      text-align: right;
      padding-right: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top p#satu {
      text-align: center;
      margin-top: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top p#dua {
      text-align: center;
      margin-top: -10px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
      border-top: transparent;
      padding-left: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
      border-top: transparent;
      text-align: right;
      padding-right: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
      margin-top: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .input-group {
      margin-top: -5px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .input-group input.form-control {
        text-align: center; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .divider {
      border-bottom: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
      width: 100%;
      margin-top: 10px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
      width: 100%;
      margin-top: 5px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
      margin-left: -15px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle {
      margin-left: -15px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle img.agent {
        width: 100%; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu {
      margin-left: -15px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu li a img.agent {
        width: 100%; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
      font-weight: bold;
      margin-left: -15px;
      margin-top: 20px; }
  .main_content_smartphone .container .panel-body .tab .container ul.nav-tabs {
    margin-left: 20%; }
  .main_content_smartphone .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_smartphone .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_smartphone .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: 0; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 25px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -105px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: -50px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 25px;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 55px;
      width: 40%;
      margin-right: -15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; } }

/*# sourceMappingURL=custom_style.css.map */
