/*============================================== */
/*---------------------------------------------- */
/*					  STYLE 	 				 */
/*============================================== */
/* Author	: Arief Budi Prasetyo				 */
/* For 		: Register Etalasebaju				 */
/* Version	: 1.0								 */
/* Email	: arief.prasetyo911@gmail.com 		 */
/*---------------------------------------------- */
/*============================================== */
/* header */
/* footer */
@media only screen and (min-width: 1224px) {
  .header .navbar {
    background-color: #ff4500; }
    .header .navbar .container-fluid .navbar-header {
      -webkit-padding-start: 100px;
      -moz-padding-start: 100px;
      padding-left: 100px; }
      .header .navbar .container-fluid .navbar-header a.fa-left {
        color: white;
        -webkit-padding-before: 20px;
        -moz-padding-before: 20px;
        padding-top: 20px;
        margin-left: -25px;
        -webkit-margin-start: -25px;
        -moz-margin-start: -25px; }
      .header .navbar .container-fluid .navbar-header a.logo {
        -webkit-margin-before: -10px;
        -webkit-padding-start: 30px;
        -moz-margin-before: -10px;
        -moz-padding-start: 30px;
        padding-left: -10px;
        padding-right: 30px;
        margin-top: -8px; }
      .header .navbar .container-fluid .navbar-header img.logo {
        height: 230%;
        margin-left: -15px; }
      .header .navbar .container-fluid .navbar-header ul.multi-level {
        border-top: 3px solid #ff4500;
        -webkit-margin-start: 104px;
        -moz-padding-start: 0;
        margin-left: 104px;
        margin-top: 0; }
        .header .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header .navbar .container-fluid .navbar-collapse .form-group input.field {
      width: 550px;
      height: 37px;
      border-radius: 0;
      margin-top: 1px;
      -webkit-margin-before: 1px;
      margin-left: -35px;
      -webkit-margin-start: -35px; }
      .header .navbar .container-fluid .navbar-collapse .form-group input.field:focus {
        border-color: transparent; }
    .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-toggle {
      height: 37px;
      border-radius: 0;
      margin-top: 0.5px; }
    .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-menu-right {
      border-top: 3px solid #ff4500;
      margin-top: 9px; }
    .header .navbar .container-fluid .navbar-collapse button.btn-sm {
      border: transparent;
      border-radius: 0;
      padding: 0;
      margin-left: 5px;
      margin-left: -21px; }
      .header .navbar .container-fluid .navbar-collapse button.btn-sm img {
        height: 39px; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: 44px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown li a.notification {
        padding-right: 0; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: 3px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:active {
          color: #ccc; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:focus {
          background-color: #ff4500; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle .img-circle {
          width: 30px;
          height: 30px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 4px;
        margin-right: 16px;
        -webkit-margin-end: 16px;
        -moz-margin-end: 16px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .form-group {
          margin-bottom: 10px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass {
          margin-bottom: 10px; }
          .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass .forgot {
            margin-top: -10px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header .container {
    -webkit-margin-before: 65px;
    -moz-margin-before: 65px;
    margin-top: 65px; }
    .header .container ol.breadcrumb {
      background-color: white;
      padding-left: 0px; }

  .main-content {
    background-color: white; }
    .main-content .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    .footer .col-xs-9 .col-xs-6 h4.etalase-foot {
      color: white;
      text-align: left; }
    .footer .col-xs-9 .col-xs-6 ul.etalase-footer {
      padding-left: 0; }
      .footer .col-xs-9 .col-xs-6 ul.etalase-footer li {
        list-style: none; }
        .footer .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer {
          text-decoration: none;
          color: white; }
          .footer .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer:hover {
            color: #1a1a1a; }
    .footer .col-xs-9 .supported h4.sponsor {
      text-align: center;
      color: white;
      border-top: 1px solid white;
      -webkit-padding-before: 15px;
      padding-top: 15px; }
    .footer .col-xs-9 .supported .sup {
      margin-left: 20px; }
    .footer .col-xs-9 .copyright p {
      text-align: center;
      font-weight: bold;
      color: white;
      -webkit-margin-before: 20px;
      margin-top: 20px; }
    .footer .col-xs-3 {
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      padding-left: 0; }
      .footer .col-xs-3 h5 {
        color: white;
        text-decoration: divider; }
      .footer .col-xs-3 .divider {
        border-bottom: 1px solid white; }
      .footer .col-xs-3 .top {
        -webkit-padding-before: 20px;
        padding-top: 20px;
        padding: 0; }
        .footer .col-xs-3 .top h4 {
          font-weight: bold;
          color: white; }
        .footer .col-xs-3 .top .col-xs-12 {
          -webkit-margin-after: -30px;
          margin-bottom: -35px;
          padding: 0; }
          .footer .col-xs-3 .top .col-xs-12 .contact {
            border-bottom: 0; }
            .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact1 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent;
              text-align: left; }
              .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact1 h5#addr {
                -webkit-margin-end: -35px; }
            .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact2 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
              .footer .col-xs-3 .top .col-xs-12 .contact tr td#contact2 h5 {
                position: absolute;
                left: 55px; }
      .footer .col-xs-3 .bottom {
        -webkit-padding-before: 20px;
        padding-top: 20px;
        padding: 0; }
        .footer .col-xs-3 .bottom h4 {
          font-weight: bold;
          color: white; }
        .footer .col-xs-3 .bottom .col-xs-12 {
          -webkit-margin-after: -30px;
          margin-bottom: -35px;
          padding: 0; }
          .footer .col-xs-3 .bottom .col-xs-12 .contact {
            border-bottom: 0; }
            .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
              .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 h5#addr {
                -webkit-margin-end: -35px;
                margin-right: -35px; }
            .footer .col-xs-3 .bottom .col-xs-12 .contact tr td#contact2 {
              border-top: transparent;
              -webkit-padding-before: 0;
              padding-top: 0;
              border-bottom: transparent; }
        .footer .col-xs-3 .bottom #addr {
          -webkit-margin-after: 0;
          margin-bottom: 0; } }
/*============================================== */
/*---------------------------------------------- */
/*				  TABLET STYLE 	 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Register			 */
/* Responsive	: Tablet						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 85px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 87%;
          margin-left: 5px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: -21px; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -22px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown {
        margin-top: 7px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
          color: white;
          font-weight: bold;
          background-color: #ff4500;
          font-size: 20px;
          margin-top: -3px;
          margin-right: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
          color: #ccc; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
          width: 30px;
          height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 223px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 2px;
        margin-right: 19px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }

  .main-content-tablet {
    background-color: white; }
    .main-content-tablet .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content-tablet .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content-tablet .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content-tablet .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      text-align: center; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .btm {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .btm .top {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .top h4 {
          color: white; }
        .footer-tablet nav.navbar-static-bottom .btm .top .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px;
          margin-right: 15px;
          -webkit-margin-end: 15px;
          -moz-margin-end: 15px;
          -o-margin-end: 15px; }
        .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact {
            margin-bottom: -25px; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; }
      .footer-tablet nav.navbar-static-bottom .btm .bottom {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom h4 {
          color: white;
          margin-top: 30px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px;
          margin-right: 15px;
          -webkit-margin-end: 15px;
          -moz-margin-end: 15px;
          -o-margin-end: 15px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact {
            margin-bottom: -15px;
            margin-top: -10px; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 100px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 400px;
          margin-left: 15px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -17px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: 3px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 4px;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main-content-tablet {
    background-color: white; }
    .main-content-tablet .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content-tablet .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content-tablet .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content-tablet .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      margin-left: 30%; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top h4 {
        color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
          margin-bottom: -25px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom h4 {
        color: white;
        margin-top: 30px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
          margin-bottom: -15px;
          margin-top: -10px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; } }
/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Register			 */
/* Responsive	: Smartphone					 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container .breadcrumb {
    margin-bottom: 5px;
    background-color: white;
    padding-left: 0; }

  .main-content-smartphone {
    background-color: white; }
    .main-content-smartphone .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content-smartphone .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content-smartphone .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content-smartphone .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 50px;
      width: 40%;
      margin-right: -15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 15px;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; } }
@media (min-width: 360px) and (max-width: 767px) and (orientation: landscape) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent;
      margin-left: 35%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon a.cart {
        margin-left: 30%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container .breadcrumb {
    margin-bottom: 5px;
    background-color: white;
    padding-left: 0;
    margin-top: 45px; }

  .main-content-smartphone {
    background-color: white; }
    .main-content-smartphone .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content-smartphone .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content-smartphone .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content-smartphone .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -125px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      padding-left: 110px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
        margin-left: 50px;
        width: 40%;
        margin-right: -15px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
        margin-left: 15px;
        width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 30px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 30px; } }
@media (min-width: 320px) and (max-width: 360px) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
        margin-left: 35%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
        padding-left: 50px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container {
    margin-top: 0; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 25px;
      background-color: white;
      margin-top: 55px;
      padding: 0; }

  .main-content-smartphone {
    background-color: white; }
    .main-content-smartphone .col-md-offset-3 .content {
      background-color: #f2f2f2;
      padding: 10px 20px 10px 20px;
      border-radius: 3px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main-content-smartphone .col-md-offset-3 .content .heading h3 {
        color: #ff4500;
        text-align: center;
        font-weight: bold;
        font-size: 20px; }
      .main-content-smartphone .col-md-offset-3 .content .heading p {
        text-align: center; }
      .main-content-smartphone .col-md-offset-3 .content .body .submit .btn-border {
        background-color: #ff4500;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: white;
        font-weight: bold;
        margin-top: 10px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: 0; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 25px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -105px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: -50px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 25px;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 55px;
      width: 40%;
      margin-right: -15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; } }

/*# sourceMappingURL=etalasebaju-register-user.css.map */
