/*============================================== */
/*---------------------------------------------- */
/*					  STYLE 	 				 */
/*============================================== */
/* Author	: Arief Budi Prasetyo				 */
/* For 		: Profile Etalasebaju				 */
/* Version	: 1.0								 */
/* Email	: arief.prasetyo911@gmail.com 		 */
/*---------------------------------------------- */
/*============================================== */
/* header */
/* body */
/* footer */
.header .navbar {
  background-color: #ff4500; }
  .header .navbar .container-fluid .navbar-header {
    -webkit-padding-start: 100px;
    -moz-padding-start: 100px;
    padding-left: 100px; }
    .header .navbar .container-fluid .navbar-header a.fa-left {
      color: white;
      -webkit-padding-before: 20px;
      -moz-padding-before: 20px;
      padding-top: 20px;
      margin-left: -25px;
      -webkit-margin-start: -25px;
      -moz-margin-start: -25px; }
    .header .navbar .container-fluid .navbar-header a.logo {
      -webkit-margin-before: -10px;
      -webkit-padding-start: 30px;
      -moz-margin-before: -10px;
      -moz-padding-start: 30px;
      padding-left: -10px;
      padding-right: 30px;
      margin-top: -8px; }
    .header .navbar .container-fluid .navbar-header img.logo {
      height: 230%;
      margin-left: -15px; }
    .header .navbar .container-fluid .navbar-header ul.multi-level {
      border-top: 3px solid #ff4500;
      -webkit-margin-start: 104px;
      -moz-padding-start: 0;
      margin-left: 104px;
      margin-top: 0; }
      .header .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
        border-radius: 0; }
  .header .navbar .container-fluid .navbar-collapse .form-group input.field {
    width: 550px;
    height: 37px;
    border-radius: 0;
    margin-top: 1px;
    -webkit-margin-before: 1px;
    margin-left: -35px;
    -webkit-margin-start: -35px; }
    .header .navbar .container-fluid .navbar-collapse .form-group input.field:focus {
      border-color: transparent; }
  .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-toggle {
    height: 37px;
    border-radius: 0;
    margin-top: 0.5px; }
  .header .navbar .container-fluid .navbar-collapse .form-group .input-group-btn .dropdown-menu-right {
    border-top: 3px solid #ff4500;
    margin-top: 13px; }
  .header .navbar .container-fluid .navbar-collapse button.btn-sm {
    border: transparent;
    border-radius: 0;
    padding: 0;
    margin-left: 5px;
    margin-left: -21px; }
    .header .navbar .container-fluid .navbar-collapse button.btn-sm img {
      height: 39px; }
  .header .navbar .container-fluid .navbar-collapse ul.navbar-right {
    margin-right: 72px; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:hover {
      background-color: #ff4500; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle:focus {
      background-color: #ff4500; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle .img-circle {
      width: 30px;
      height: 30px; }
    .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp {
      min-width: 250px;
      padding: 14px 14px 0;
      border-top: 3px solid #ff4500;
      margin-top: 0;
      margin-right: 16px;
      -webkit-margin-end: 16px;
      -moz-margin-end: 16px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .form-group {
        margin-bottom: 10px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass {
        margin-bottom: 10px; }
        .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .pass .forgot {
          margin-top: -10px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon img {
        width: 100%;
        border-radius: 3px; }
      .header .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown #login-dp .icon p {
        text-align: center;
        margin-bottom: 3px;
        margin-top: 3px; }
.header .container {
  -webkit-margin-before: 65px;
  -moz-margin-before: 65px;
  margin-top: 65px; }
  .header .container ol.breadcrumb {
    background-color: white;
    padding-left: 0px; }
  .header .container .divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    -webkit-margin-after: 25px;
    margin-top: -15px;
    -webkit-margin-before: -15px; }

.main_content .container .form {
  padding-left: 0; }
  .main_content .container .form .form-control {
    border-radius: 0; }
.main_content .container .photo {
  padding-right: 0; }
  .main_content .container .photo img.img-circle {
    margin-left: 15%;
    object-fit: cover; }
  .main_content .container .photo .form-group {
    margin-left: 33%; }
  .main_content .container .photo .history {
    background-color: #ff4500;
    color: white;
    margin-left: 28%; }
  .main_content .container .photo .apply {
    background-color: #ff4500;
    color: white;
    margin-left: 45%;
    margin-top: 70px; }

.footer .navbar-static-bottom {
  background-image: url("../img/footer-bg.png");
  background-size: 100%;
  background-repeat: no-repeat; }
  .footer .navbar-static-bottom .col-xs-9 .col-xs-6 h4.etalase-foot {
    color: white;
    text-align: left; }
  .footer .navbar-static-bottom .col-xs-9 .col-xs-6 ul.etalase-footer {
    padding-left: 0; }
    .footer .navbar-static-bottom .col-xs-9 .col-xs-6 ul.etalase-footer li {
      list-style: none; }
      .footer .navbar-static-bottom .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer {
        text-decoration: none;
        color: white; }
        .footer .navbar-static-bottom .col-xs-9 .col-xs-6 ul.etalase-footer li a.etalase-footer:hover {
          color: #1a1a1a; }
  .footer .navbar-static-bottom .col-xs-9 .supported h4.sponsor {
    text-align: center;
    color: white;
    border-top: 1px solid white;
    -webkit-padding-before: 15px;
    padding-top: 15px; }
  .footer .navbar-static-bottom .col-xs-9 .supported .sup {
    margin-left: 20px; }
  .footer .navbar-static-bottom .col-xs-9 .divider {
    border-bottom: 1px solid white; }
  .footer .navbar-static-bottom .col-xs-9 .copyright p {
    text-align: center;
    font-weight: bold;
    color: white;
    -webkit-margin-before: 20px;
    margin-top: 20px; }
  .footer .navbar-static-bottom .col-xs-3 {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0; }
    .footer .navbar-static-bottom .col-xs-3 h5 {
      color: white;
      text-decoration: divider; }
    .footer .navbar-static-bottom .col-xs-3 .divider {
      border-bottom: 1px solid white; }
    .footer .navbar-static-bottom .col-xs-3 .top {
      -webkit-padding-before: 20px;
      padding-top: 20px;
      padding: 0; }
      .footer .navbar-static-bottom .col-xs-3 .top h4 {
        font-weight: bold;
        color: white; }
      .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 {
        -webkit-margin-after: -30px;
        margin-bottom: -35px;
        padding: 0; }
        .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 .contact {
          border-bottom: 0; }
          .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 .contact tr td#contact1 {
            border-top: transparent;
            -webkit-padding-before: 0;
            padding-top: 0;
            border-bottom: transparent;
            text-align: left; }
            .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 .contact tr td#contact1 h5#addr {
              -webkit-margin-end: -35px; }
          .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 .contact tr td#contact2 {
            border-top: transparent;
            -webkit-padding-before: 0;
            padding-top: 0;
            border-bottom: transparent; }
            .footer .navbar-static-bottom .col-xs-3 .top .col-xs-12 .contact tr td#contact2 h5 {
              position: absolute;
              left: 55px; }
    .footer .navbar-static-bottom .col-xs-3 .bottom {
      -webkit-padding-before: 20px;
      padding-top: 20px;
      padding: 0; }
      .footer .navbar-static-bottom .col-xs-3 .bottom h4 {
        font-weight: bold;
        color: white; }
      .footer .navbar-static-bottom .col-xs-3 .bottom .col-xs-12 {
        -webkit-margin-after: -30px;
        margin-bottom: -35px;
        padding: 0; }
        .footer .navbar-static-bottom .col-xs-3 .bottom .col-xs-12 .contact {
          border-bottom: 0; }
          .footer .navbar-static-bottom .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 {
            border-top: transparent;
            -webkit-padding-before: 0;
            padding-top: 0;
            border-bottom: transparent; }
            .footer .navbar-static-bottom .col-xs-3 .bottom .col-xs-12 .contact tr td#contact1 h5#addr {
              -webkit-margin-end: -35px;
              margin-right: -35px; }
          .footer .navbar-static-bottom .col-xs-3 .bottom .col-xs-12 .contact tr td#contact2 {
            border-top: transparent;
            -webkit-padding-before: 0;
            padding-top: 0;
            border-bottom: transparent; }
      .footer .navbar-static-bottom .col-xs-3 .bottom #addr {
        -webkit-margin-after: 0;
        margin-bottom: 0; }

/*============================================== */
/*---------------------------------------------- */
/*				  TABLET STYLE 	 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Profile Etalasebaju			 */
/* Responsive	: Tablet						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
/* header */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 85px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: -1px; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 191px;
          margin-left: 5px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 13px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -7px;
      -moz-margin-end: -10px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: -1px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 0;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .form {
    padding-left: 0; }
    .main_content_tablet .container .form .form-group .form-control {
      border-radius: 0; }
  .main_content_tablet .container .photo {
    padding-right: 0; }
    .main_content_tablet .container .photo img {
      margin-left: 25px;
      -webkit-margin-start: 25px;
      -moz-margin-start: 25px;
      object-fit: cover; }
    .main_content_tablet .container .photo .form-group {
      margin-left: 35px;
      -webkit-margin-start: 35px;
      -moz-margin-start: 35px; }
    .main_content_tablet .container .photo .history {
      margin-left: 25px;
      -webkit-margin-start: 25px;
      -moz-margin-start: 25px;
      background-color: #ff4500;
      color: white; }
    .main_content_tablet .container .photo .apply {
      margin-left: 85px;
      -webkit-margin-start: 85px;
      -moz-margin-start: 85px;
      background-color: #ff4500;
      color: white;
      margin-top: 105px;
      -webkit-margin-before: 105px; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      text-align: center; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .btm3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .btm3 .top {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top h4 {
          color: white; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact {
            margin-bottom: -25px; }
            .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 25px; }
              .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; }
      .footer-tablet nav.navbar-static-bottom .btm3 .bottom {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom h4 {
          color: white;
          margin-top: 30px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact {
            margin-bottom: -15px;
            margin-top: -10px; }
            .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 25px; }
              .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 100px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 400px;
          margin-left: 15px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 14px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: 3px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: -1px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 0;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .form {
    padding-left: 0; }
    .main_content_tablet .container .form .form-group .form-control {
      border-radius: 0; }
  .main_content_tablet .container .photo img {
    margin-left: 100px;
    -webkit-margin-start: 100px;
    -moz-margin-start: 100px;
    object-fit: cover; }
  .main_content_tablet .container .photo .form-group {
    margin-left: 130px;
    -webkit-margin-start: 130px;
    -moz-margin-start: 130px;
    margin-top: 5px;
    -webkit-margin-before: 5px; }
  .main_content_tablet .container .photo .history {
    margin-left: 105px;
    -webkit-margin-start: 105px;
    -moz-margin-start: 105px;
    background-color: #ff4500;
    color: white; }
  .main_content_tablet .container .photo .apply {
    margin-left: 85px;
    -webkit-margin-start: 170px;
    -moz-margin-start: 170px;
    background-color: #ff4500;
    color: white;
    margin-top: 105px;
    -webkit-margin-before: 105px; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      margin-left: 30%; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top h4 {
        color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
          margin-bottom: -25px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom h4 {
        color: white;
        margin-top: 30px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
          margin-bottom: -15px;
          margin-top: -10px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; } }
/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju profile			 */
/* Responsive	: Smartphone					 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
  .header-smartphone nav.navbar-default {
    background-color: #ff4500; }
    .header-smartphone nav.navbar-default .container {
      border-color: transparent; }
      .header-smartphone nav.navbar-default .container .navbar-header {
        border-color: blue; }
        .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand {
          margin-top: -60px; }
          .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand img.logo {
            margin-left: 0;
            width: 45%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
        border-radius: 0;
        width: 100%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
        width: 100%;
        border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav p {
        color: white;
        text-align: center; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
        border-color: #ff4500;
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
          width: 100%;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          text-align: center; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
          width: 100%;
          text-align: center;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
          padding-left: 35%; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
          padding-left: 50px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
        width: 100%;
        background-color: #ff4500;
        border-color: transparent;
        color: white;
        font-weight: bold;
        text-align: left; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
          background-color: #ff7f24; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
        color: white; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
          background-color: #ff7f24; }
  .header-smartphone .container {
    margin-bottom: -25px; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container {
    margin-top: 25px; }
    .main_content_smartphone .container .form {
      padding-left: 0; }
      .main_content_smartphone .container .form .form-group .form-control {
        border-radius: 0; }
    .main_content_smartphone .container .photo {
      padding-right: 0; }
      .main_content_smartphone .container .photo img.img-circle {
        margin-left: 5px;
        object-fit: cover; }
      .main_content_smartphone .container .photo .form-group {
        margin-left: 25%;
        margin-top: 5px; }
      .main_content_smartphone .container .photo .history {
        background-color: #ff4500;
        color: white;
        margin-left: 16%;
        margin-top: 10px; }
      .main_content_smartphone .container .photo .apply {
        background-color: #ff4500;
        color: white;
        margin-left: 20%;
        margin-top: 258px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: 0; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 22%;
      width: 40%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: -33px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: -20px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -17px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#empat {
            color: white;
            position: relative;
            left: 0; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: 5px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: 4px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -27px; } }
@media (min-width: 360px) and (max-width: 767px) and (orientation: landscape) {
  .header-smartphone nav.navbar-default {
    background-color: #ff4500; }
    .header-smartphone nav.navbar-default .container {
      border-color: transparent; }
      .header-smartphone nav.navbar-default .container .navbar-header {
        border-color: blue; }
        .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand {
          margin-top: -10px; }
          .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand img.logo {
            margin-left: 0;
            width: 45%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
        border-radius: 0;
        width: 100%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
        width: 100%;
        border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav p {
        color: white;
        text-align: center; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
        border-color: #ff4500;
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
          width: 100%;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          text-align: center; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
          width: 100%;
          text-align: center;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
          padding-left: 35%; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
          padding-left: 50px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
        width: 100%;
        background-color: #ff4500;
        border-color: transparent;
        color: white;
        font-weight: bold;
        text-align: left; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
          background-color: #ff7f24; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
        color: white; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
          background-color: #ff7f24; }
  .header-smartphone .container .breadcrumb {
    margin-bottom: 5px;
    background-color: white;
    padding-left: 0;
    margin-top: 50px; }
  .header-smartphone .container .divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    -webkit-margin-after: 20px;
    margin-top: -10px;
    -webkit-margin-before: -10px; }

  .main_content_smartphone .container {
    margin-top: -10px; }
    .main_content_smartphone .container .form {
      padding-left: 0; }
      .main_content_smartphone .container .form .form-group .form-control {
        border-radius: 0; }
    .main_content_smartphone .container .photo img.img-circle {
      margin-left: 25px;
      object-fit: cover;
      height: 150px;
      width: 150px; }
    .main_content_smartphone .container .photo .form-group {
      margin-left: 25%;
      margin-top: 5px; }
    .main_content_smartphone .container .photo .history {
      background-color: #ff4500;
      color: white;
      margin-left: 30%;
      margin-top: 10px; }
    .main_content_smartphone .container .photo .apply {
      background-color: #ff4500;
      color: white;
      margin-left: 32%;
      margin-top: 210px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -127px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 15%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 27%;
      width: 30%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; } }
/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Profil			 */
/* Responsive	: Mobile						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 320px) and (max-width: 360px) {
  .header-smartphone nav.navbar-default {
    background-color: #ff4500; }
    .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
      border-radius: 0;
      width: 100%; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
      width: 100%;
      border-radius: 0; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
      border-color: #ff4500;
      margin-top: -10px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-align: center; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
        width: 100%;
        text-align: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
      margin-top: -10px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
        padding-left: 35%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
        padding-left: 50px; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
      width: 100%;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
      color: white; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
        background-color: #ff7f24; }
  .header-smartphone .container {
    margin-bottom: -25px; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 15px;
      background-color: white;
      padding-left: 0;
      margin-top: 50px; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container {
    margin-top: 20px; }
    .main_content_smartphone .container .form {
      padding-left: 0; }
      .main_content_smartphone .container .form .form-group .form-control {
        border-radius: 0; }
    .main_content_smartphone .container .photo img.img-circle {
      margin-left: 5px;
      object-fit: cover; }
    .main_content_smartphone .container .photo .form-group {
      margin-left: 25%;
      margin-top: 5px; }
    .main_content_smartphone .container .photo .history {
      background-color: #ff4500;
      color: white;
      margin-left: 16%;
      margin-top: 10px; }
    .main_content_smartphone .container .photo .apply {
      background-color: #ff4500;
      color: white;
      margin-left: 20%;
      margin-top: 258px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: 17px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 45px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -166px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 22%;
      width: 40%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: -33px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: -20px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -17px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#empat {
            color: white;
            position: relative;
            left: 0; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: 5px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: 4px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -27px; } }

/*# sourceMappingURL=etalasebaju-style-profile.css.map */
