/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju System Checkout	 */
/* Responsive	: Smartphone					 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container {
      border-color: transparent; }
      .header-smartphone .navbar-default .container .navbar-header {
        border-color: blue; }
        .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
          margin-top: -10px;
          -moz-margin-end: -15px; }
          .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
            margin-left: 0;
            width: 45%;
            margin-top: 50px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
        border-radius: 0;
        width: 100%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
        width: 100%;
        border-radius: 0; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
        color: white;
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
        border-color: #ff4500;
        margin-top: -10px; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
          width: 100%;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          text-align: center; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
          width: 100%;
          text-align: center;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
        margin-top: -10px; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
          padding-left: 35%; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
          padding-left: 50px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
        width: 100%;
        background-color: #ff4500;
        border-color: transparent;
        color: white;
        font-weight: bold;
        text-align: left; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
          background-color: #ff7f24; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
        color: white; }
        .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
          background-color: #ff7f24; }
  .header-smartphone .container {
    margin-top: 60px;
    margin-right: 0; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 102%; }

  .main-content-smartphone .container {
    margin-right: 0; }
    .main-content-smartphone .container .left {
      padding-left: 0; }
      .main-content-smartphone .container .left input.form-control {
        border-radius: 0; }
      .main-content-smartphone .container .left .dropdown {
        margin-bottom: 20px; }
        .main-content-smartphone .container .left .dropdown button.dropdown-toggle img.agent {
          width: 110px;
          height: 35px; }
    .main-content-smartphone .container .right {
      padding-left: 0;
      padding-right: 0; }
      .main-content-smartphone .container .right .top {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0; }
        .main-content-smartphone .container .right .top h5 {
          font-weight: bold;
          color: #ff4500;
          margin-top: 3px; }
        .main-content-smartphone .container .right .top .left {
          padding-left: 0; }
          .main-content-smartphone .container .right .top .left h5 {
            font-weight: bold;
            color: black; }
          .main-content-smartphone .container .right .top .left .row {
            margin-right: -85px;
            margin-left: 0; }
            .main-content-smartphone .container .right .top .left .row .divider {
              border-bottom: 2px solid #ccc;
              margin-bottom: 10px; }
          .main-content-smartphone .container .right .top .left .row .col-xs-8 {
            padding: 0; }
            .main-content-smartphone .container .right .top .left .row .col-xs-8 .thumbnail {
              margin-bottom: 0;
              max-width: 78%; }
            .main-content-smartphone .container .right .top .left .row .col-xs-8 p#satu {
              font-weight: normal;
              margin-bottom: 0; }
          .main-content-smartphone .container .right .top .left h5#total {
            font-weight: bold;
            color: black;
            margin-top: 0; }
        .main-content-smartphone .container .right .top .right {
          padding-left: 45px;
          padding-right: 0; }
          .main-content-smartphone .container .right .top .right h5 {
            font-weight: bold;
            color: black;
            margin-left: -40px; }
          .main-content-smartphone .container .right .top .right .row .col-xs-12 p#satu {
            padding-top: 94px;
            margin-left: -53px; }
          .main-content-smartphone .container .right .top .right .row .total {
            padding: 0; }
            .main-content-smartphone .container .right .top .right .row .total h5 {
              font-weight: bold;
              color: black;
              margin-top: 10px; }
      .main-content-smartphone .container .right .bottom {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0; }
        .main-content-smartphone .container .right .bottom h5 {
          font-weight: bold;
          color: #ff4500;
          margin-top: 20px;
          margin-left: 0; }
        .main-content-smartphone .container .right .bottom .left {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .left p#satu {
            padding-left: 0; }
          .main-content-smartphone .container .right .bottom .left p#dua {
            padding-left: 0; }
          .main-content-smartphone .container .right .bottom .left h5.total {
            font-weight: bold;
            color: black;
            left: -1px;
            position: relative; }
        .main-content-smartphone .container .right .bottom .right {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .right h5#satu {
            font-weight: bold;
            margin-top: 3px;
            margin-left: -10px;
            color: black; }
          .main-content-smartphone .container .right .bottom .right h5#dua {
            font-weight: bold;
            margin-top: 36px;
            margin-left: -10px;
            color: black; }
          .main-content-smartphone .container .right .bottom .right h5.total {
            font-weight: bold;
            margin-top: 43px;
            margin-left: -10px;
            color: black; }
        .main-content-smartphone .container .right .bottom .row {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .row .divider {
            border-bottom: 2px solid #ccc;
            margin-top: 105px;
            margin-left: 15px;
            margin-right: 28px; }
      .main-content-smartphone .container .right .next .next {
        background-color: #ff4500;
        color: white;
        font-weight: bold;
        padding: 15px;
        margin-top: 20px;
        margin-left: 12%; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    width: 103%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -164px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 22%;
      width: 40%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; } }
@media (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
  .header-smartphone nav.navbar-default {
    background-color: #ff4500; }
    .header-smartphone nav.navbar-default .container {
      border-color: transparent; }
      .header-smartphone nav.navbar-default .container .navbar-header {
        border-color: blue; }
        .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand {
          margin-top: -10px; }
          .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand img.logo {
            margin-left: 0;
            width: 45%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
        border-radius: 0;
        width: 100%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
        width: 100%;
        border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav p {
        color: white;
        text-align: center; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
        border-color: #ff4500;
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
          width: 100%;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          text-align: center; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
          width: 100%;
          text-align: center;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
        margin-top: -10px; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
          padding-left: 35%; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
          padding-left: 50px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
        width: 100%;
        background-color: #ff4500;
        border-color: transparent;
        color: white;
        font-weight: bold;
        text-align: left; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
          background-color: #ff7f24; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
        color: white; }
        .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
          background-color: #ff7f24; }
  .header-smartphone .container {
    margin-top: 0; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 25px;
      background-color: white;
      margin-top: 55px;
      padding: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main-content-smartphone .container {
    margin-right: 0; }
    .main-content-smartphone .container .left {
      padding-left: 0; }
      .main-content-smartphone .container .left input.form-control {
        border-radius: 0; }
      .main-content-smartphone .container .left .dropdown {
        margin-bottom: 20px; }
        .main-content-smartphone .container .left .dropdown button.dropdown-toggle img.agent {
          width: 110px;
          height: 35px; }
    .main-content-smartphone .container .right {
      padding-left: 0;
      padding-right: 0; }
      .main-content-smartphone .container .right .top {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0; }
        .main-content-smartphone .container .right .top h5 {
          font-weight: bold;
          color: #ff4500;
          margin-top: 3px; }
        .main-content-smartphone .container .right .top .left {
          padding-left: 0; }
          .main-content-smartphone .container .right .top .left h5 {
            font-weight: bold;
            color: black; }
          .main-content-smartphone .container .right .top .left .row {
            margin-right: -147px;
            margin-left: 0; }
            .main-content-smartphone .container .right .top .left .row .divider {
              border-bottom: 2px solid #ccc;
              margin-bottom: 10px; }
          .main-content-smartphone .container .right .top .left .row .col-xs-8 {
            padding: 0; }
            .main-content-smartphone .container .right .top .left .row .col-xs-8 .thumbnail {
              margin-bottom: 0;
              max-width: 65%; }
            .main-content-smartphone .container .right .top .left .row .col-xs-8 p#satu {
              font-weight: normal;
              margin-bottom: 0; }
          .main-content-smartphone .container .right .top .left h5#total {
            font-weight: bold;
            color: black;
            margin-top: 0; }
        .main-content-smartphone .container .right .top .right {
          padding-left: 45px;
          padding-right: 0; }
          .main-content-smartphone .container .right .top .right h5 {
            font-weight: bold;
            color: black;
            margin-left: 20px; }
          .main-content-smartphone .container .right .top .right .row .col-xs-12 p#satu {
            padding-top: 131px;
            margin-left: 8px; }
          .main-content-smartphone .container .right .top .right .row .total {
            padding: 0; }
            .main-content-smartphone .container .right .top .right .row .total h5 {
              font-weight: bold;
              color: black;
              margin-top: 10px;
              margin-left: 23px; }
      .main-content-smartphone .container .right .bottom {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0; }
        .main-content-smartphone .container .right .bottom h5 {
          font-weight: bold;
          color: #ff4500;
          margin-top: 20px;
          margin-left: 0; }
        .main-content-smartphone .container .right .bottom .left {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .left p#satu {
            padding-left: 0; }
          .main-content-smartphone .container .right .bottom .left p#dua {
            padding-left: 0; }
          .main-content-smartphone .container .right .bottom .left h5.total {
            font-weight: bold;
            color: black;
            left: -1px;
            position: relative; }
        .main-content-smartphone .container .right .bottom .right {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .right h5#satu {
            font-weight: bold;
            margin-top: 3px;
            margin-left: 53px;
            color: black; }
          .main-content-smartphone .container .right .bottom .right h5#dua {
            font-weight: bold;
            margin-top: 15px;
            margin-left: 53px;
            color: black; }
          .main-content-smartphone .container .right .bottom .right h5.total {
            font-weight: bold;
            margin-top: 22px;
            margin-left: 53px;
            color: black; }
        .main-content-smartphone .container .right .bottom .row {
          padding: 0; }
          .main-content-smartphone .container .right .bottom .row .divider {
            border-bottom: 2px solid #ccc;
            margin-top: 95px;
            margin-left: 15px;
            margin-right: 35px; }
      .main-content-smartphone .container .right .next .next {
        background-color: #ff4500;
        color: white;
        font-weight: bold;
        padding: 15px;
        margin-top: 20px;
        margin-left: 30%; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    width: 103%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: -3px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 35px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -127px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 15%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 25%;
      width: 30%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          position: absolute;
          left: 35px;
          color: white; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          position: absolute;
          left: 35px;
          color: white; } }

/*# sourceMappingURL=etalasebaju-style-system-checkout-smartphone.css.map */
