/*============================================== */
/*---------------------------------------------- */
/*				  SMARTPHONE STYLE 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Profil			 */
/* Responsive	: Mobile						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
@media (min-width: 320px) and (max-width: 360px) {
  .header-smartphone nav.navbar-default {
    background-color: #ff4500; }
    .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone nav.navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown-toggle {
      border-radius: 0;
      width: 100%; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-warning {
      width: 100%;
      border-radius: 0; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form {
      border-color: #ff4500;
      margin-top: -10px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form input.form-control {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-align: center; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-form a button.btn-success {
        width: 100%;
        text-align: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
      margin-top: -10px; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
        padding-left: 35%; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
        padding-left: 50px; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle {
      width: 100%;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a {
      color: white; }
      .header-smartphone nav.navbar-default .container .navbar-collapse ul.navbar-nav .dropdown .dropdown-menu li a:hover {
        background-color: #ff7f24; }
  .header-smartphone .container {
    margin-bottom: -25px; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 15px;
      background-color: white;
      padding-left: 0;
      margin-top: 50px; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container {
    margin-top: 20px; }
    .main_content_smartphone .container .form {
      padding-left: 0; }
      .main_content_smartphone .container .form .form-group .form-control {
        border-radius: 0; }
    .main_content_smartphone .container .photo img.img-circle {
      margin-left: 5px;
      object-fit: cover; }
    .main_content_smartphone .container .photo .form-group {
      margin-left: 25%;
      margin-top: 5px; }
    .main_content_smartphone .container .photo .history {
      background-color: #ff4500;
      color: white;
      margin-left: 16%;
      margin-top: 10px; }
    .main_content_smartphone .container .photo .apply {
      background-color: #ff4500;
      color: white;
      margin-left: 20%;
      margin-top: 258px; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: 17px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 45px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -166px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 0;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 22%;
      width: 40%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: -33px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: -20px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -17px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5#empat {
            color: white;
            position: relative;
            left: 0; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#satu {
            color: white;
            margin-left: 5px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#dua {
            color: white;
            position: relative;
            left: 4px; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5#tiga {
            color: white;
            position: relative;
            left: -27px; } }

/*# sourceMappingURL=etalasebaju-style-profile-mobile.css.map */
