/*============================================== */
/*---------------------------------------------- */
/*				  TABLET STYLE 	 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: System Checkout Etalasebaju	 */
/* Responsive	: Tablet						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 85px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: -1px; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 191px;
          margin-left: 5px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 13px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -7px;
      -moz-margin-end: -10px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: -1px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 0;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main-content-tablet .container .left {
    padding-left: 0; }
    .main-content-tablet .container .left input.form-control {
      border-radius: 0; }
    .main-content-tablet .container .left textarea.form-control {
      border-radius: 0; }
    .main-content-tablet .container .left .dropdown {
      margin-bottom: 20px; }
      .main-content-tablet .container .left .dropdown button.dropdown-toggle img.agent {
        width: 125px;
        height: 50px; }
  .main-content-tablet .container .right {
    padding-right: 0; }
    .main-content-tablet .container .right .top {
      margin-left: 20px; }
      .main-content-tablet .container .right .top h4 {
        font-weight: bold;
        color: #ff4500; }
      .main-content-tablet .container .right .top .left {
        padding-left: 0; }
        .main-content-tablet .container .right .top .left h4 {
          font-weight: bold;
          color: black; }
        .main-content-tablet .container .right .top .left .row {
          margin-right: -161px;
          margin-left: 0; }
          .main-content-tablet .container .right .top .left .row .divider {
            border-bottom: 2px solid #ccc;
            margin-bottom: 10px; }
        .main-content-tablet .container .right .top .left .row .col-xs-4 {
          padding: 0; }
          .main-content-tablet .container .right .top .left .row .col-xs-4 .thumbnail {
            margin-bottom: 0; }
        .main-content-tablet .container .right .top .left .row .right {
          margin-left: 10px; }
          .main-content-tablet .container .right .top .left .row .right p#satu {
            font-weight: normal;
            margin-bottom: 10px; }
          .main-content-tablet .container .right .top .left .row .right p#tiga {
            font-weight: normal;
            margin-top: 10px; }
        .main-content-tablet .container .right .top .left h4#total {
          font-weight: bold;
          color: black;
          margin-top: 0; }
      .main-content-tablet .container .right .top .right {
        padding-left: 65px;
        padding-right: 0; }
        .main-content-tablet .container .right .top .right h4 {
          font-weight: bold;
          color: black; }
        .main-content-tablet .container .right .top .right .row .col-xs-12 p#satu {
          font-weight: bold;
          padding-top: 73px; }
        .main-content-tablet .container .right .top .right .row .total {
          padding: 0; }
          .main-content-tablet .container .right .top .right .row .total h4 {
            font-weight: bold;
            color: black;
            margin-top: 10px;
            margin-left: -4px; }
    .main-content-tablet .container .right .bottom {
      padding: 0;
      margin-top: 20px; }
      .main-content-tablet .container .right .bottom h4 {
        font-weight: bold;
        color: #ff4500;
        margin-top: 20px;
        margin-left: 35px; }
      .main-content-tablet .container .right .bottom .left {
        padding: 0; }
        .main-content-tablet .container .right .bottom .left p#satu {
          padding-left: 35px; }
        .main-content-tablet .container .right .bottom .left p#dua {
          padding-left: 35px; }
        .main-content-tablet .container .right .bottom .left h4.total {
          font-weight: bold;
          color: black;
          left: -1px;
          position: relative; }
      .main-content-tablet .container .right .bottom .right {
        padding: 0; }
        .main-content-tablet .container .right .bottom .right h4#satu {
          font-weight: bold;
          margin-top: 0;
          margin-left: 63px;
          color: black; }
        .main-content-tablet .container .right .bottom .right h4#dua {
          font-weight: bold;
          margin-top: 0;
          margin-left: 63px;
          color: black; }
        .main-content-tablet .container .right .bottom .right h4.total {
          padding-left: 28px;
          font-weight: bold;
          color: black; }
      .main-content-tablet .container .right .bottom .row {
        padding: 0; }
        .main-content-tablet .container .right .bottom .row .divider {
          border-bottom: 2px solid #ccc;
          margin-top: 60px;
          margin-left: 50px;
          margin-right: 21px; }
    .main-content-tablet .container .right .next .next {
      background-color: #ff4500;
      color: white;
      font-weight: bold;
      padding: 15px;
      margin-top: 20px;
      margin-left: 35%; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      text-align: center; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .btm3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .btm3 .top {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top h4 {
          color: white; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact {
            margin-bottom: -25px; }
            .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 25px; }
              .footer-tablet nav.navbar-static-bottom .btm3 .top .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; }
      .footer-tablet nav.navbar-static-bottom .btm3 .bottom {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom h4 {
          color: white;
          margin-top: 30px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact {
            margin-bottom: -15px;
            margin-top: -10px; }
            .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 25px; }
              .footer-tablet nav.navbar-static-bottom .btm3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 100px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 400px;
          margin-left: 15px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 13px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: 3px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: -1px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 0;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main-content-tablet {
    margin-top: 15px; }
    .main-content-tablet .container {
      padding-left: 0;
      padding-right: 0; }
      .main-content-tablet .container .left input.form-control {
        border-radius: 0; }
      .main-content-tablet .container .left .dropdown {
        margin-bottom: 20px; }
        .main-content-tablet .container .left .dropdown button.dropdown-toggle img.agent {
          width: 125px;
          height: 50px; }
      .main-content-tablet .container .right .top {
        margin-left: 20px; }
        .main-content-tablet .container .right .top h4 {
          font-weight: bold;
          color: #ff4500; }
        .main-content-tablet .container .right .top .left {
          padding-left: 0; }
          .main-content-tablet .container .right .top .left h4 {
            font-weight: bold;
            color: black; }
          .main-content-tablet .container .right .top .left .row {
            margin-right: -161px;
            margin-left: 0; }
            .main-content-tablet .container .right .top .left .row .divider {
              border-bottom: 2px solid #ccc;
              margin-bottom: 10px;
              margin-right: -64px; }
          .main-content-tablet .container .right .top .left .row .col-xs-4 {
            padding: 0; }
            .main-content-tablet .container .right .top .left .row .col-xs-4 .thumbnail {
              margin-bottom: 0; }
          .main-content-tablet .container .right .top .left .row .right {
            margin-left: 10px; }
            .main-content-tablet .container .right .top .left .row .right p#satu {
              font-weight: normal;
              margin-bottom: 10px; }
            .main-content-tablet .container .right .top .left .row .right p#tiga {
              font-weight: normal;
              margin-top: 10px; }
          .main-content-tablet .container .right .top .left h4#total {
            font-weight: bold;
            color: black;
            margin-top: 0; }
        .main-content-tablet .container .right .top .right {
          padding-left: 85px;
          padding-right: 0; }
          .main-content-tablet .container .right .top .right h4 {
            font-weight: bold;
            color: black;
            margin-left: 44px; }
          .main-content-tablet .container .right .top .right .row .col-xs-12 p#satu {
            font-weight: bold;
            padding-top: 73px;
            margin-left: 45px; }
          .main-content-tablet .container .right .top .right .row .total {
            padding: 0; }
            .main-content-tablet .container .right .top .right .row .total h4 {
              font-weight: bold;
              color: black;
              margin-top: 10px;
              margin-left: 41px; }
      .main-content-tablet .container .right .bottom {
        padding: 0;
        margin-top: 20px;
        margin-left: 20px; }
        .main-content-tablet .container .right .bottom h4 {
          font-weight: bold;
          color: #ff4500;
          margin-top: 20px;
          margin-left: 15px; }
        .main-content-tablet .container .right .bottom .left {
          padding: 0; }
          .main-content-tablet .container .right .bottom .left p#satu {
            padding-left: 15px; }
          .main-content-tablet .container .right .bottom .left p#dua {
            padding-left: 15px; }
          .main-content-tablet .container .right .bottom .left h4.total {
            font-weight: bold;
            color: black;
            left: -1px;
            position: relative; }
        .main-content-tablet .container .right .bottom .right {
          padding: 0; }
          .main-content-tablet .container .right .bottom .right h4#satu {
            font-weight: bold;
            margin-top: 0;
            margin-left: 111px;
            color: black; }
          .main-content-tablet .container .right .bottom .right h4#dua {
            font-weight: bold;
            margin-top: 0;
            margin-left: 111px;
            color: black; }
          .main-content-tablet .container .right .bottom .right h4.total {
            padding-left: 96px;
            font-weight: bold;
            color: black; }
        .main-content-tablet .container .right .bottom .row {
          padding: 0; }
          .main-content-tablet .container .right .bottom .row .divider {
            border-bottom: 2px solid #ccc;
            margin-top: 60px;
            margin-left: 30px;
            margin-right: 32px; }
      .main-content-tablet .container .right .next .next {
        background-color: #ff4500;
        color: white;
        font-weight: bold;
        padding: 15px;
        margin-top: 20px;
        margin-left: 44%; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      margin-left: 30%; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top h4 {
        color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
          margin-bottom: -25px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom h4 {
        color: white;
        margin-top: 30px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
          margin-bottom: -15px;
          margin-top: -10px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; } }

/*# sourceMappingURL=etalasebaju-style-system-checkout-tablet.css.map */
