@media (min-width: 320px) and (max-width: 360px) {
  .header-smartphone .navbar-default {
    background-color: #ff4500; }
    .header-smartphone .navbar-default .container .navbar-header a.navbar-brand {
      margin-top: -60px; }
      .header-smartphone .navbar-default .container .navbar-header a.navbar-brand img.logo {
        margin-left: 0;
        width: 45%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .form-group .form-control {
      border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass {
      margin-top: -12px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .pass .form-control {
        border-radius: 0; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .login .dropdown-menu .btn-success {
      width: 100%;
      margin-top: -12px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav p {
      color: white;
      text-align: center; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon {
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.notif {
        margin-left: 35%; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav form.navbar-icon img.cart {
        padding-left: 50px; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-icon {
      border-color: transparent; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search {
      border-color: transparent;
      margin-top: -10px; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search .form-group .form-control {
        text-align: center; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .navbar-form-search a .btn-success {
        width: 100%; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle {
      width: 100%;
      border-radius: 0;
      margin-bottom: -1px;
      background-color: #ff4500;
      border-color: transparent;
      color: white;
      font-weight: bold;
      text-align: left; }
      .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown button.dropdown-toggle:hover {
        background-color: #ff7f24; }
    .header-smartphone .navbar-default .container .navbar-collapse ul.navbar-nav .dropdown ul.dropdown-menu li a {
      color: white; }
  .header-smartphone .container {
    margin-top: 0; }
    .header-smartphone .container .breadcrumb {
      margin-bottom: 25px;
      background-color: white;
      margin-top: 55px;
      padding: 0; }
    .header-smartphone .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      -webkit-margin-after: 10px;
      margin-top: -20px;
      -webkit-margin-before: -20px;
      margin-left: 0;
      -webkit-margin-start: 0;
      -moz-margin-start: 0;
      width: 100%; }

  .main_content_smartphone .container .panel-body .col-xs-12 .image .thumbnail {
    height: 300px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .image .thumbnail img.image {
      height: 290px;
      width: 100%;
      object-fit: cover; }
  .main_content_smartphone .container .panel-body .col-xs-12 .desc {
    padding: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc h4 {
      font-weight: bold; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc p {
      text-align: justify; }
    .main_content_smartphone .container .panel-body .col-xs-12 .desc ul {
      padding-left: 0; }
      .main_content_smartphone .container .panel-body .col-xs-12 .desc ul li {
        list-style: none;
        text-decoration: none; }
  .main_content_smartphone .container .panel-body .col-xs-12 .sidebar {
    padding: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top h4 {
      font-weight: bold;
      margin-top: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 button.dropdown-toggle {
      width: 175%;
      padding-left: 3px;
      margin-left: -30px;
      border-radius: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 ul.dropdown-menu {
      margin-left: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 button.dropdown-toggle {
      width: 145%;
      padding-left: 0;
      margin-left: -3px;
      border-radius: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 ul.dropdown-menu {
      margin-left: -3px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
      border-top: transparent;
      padding-left: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
      border-top: transparent;
      text-align: right;
      padding-right: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top p#satu {
      text-align: center;
      margin-top: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top p#dua {
      text-align: center;
      margin-top: -10px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
      border-top: transparent;
      padding-left: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
      border-top: transparent;
      text-align: right;
      padding-right: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
      margin-top: -30px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .input-group {
      margin-top: -5px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-top .row .input-group input.form-control {
        text-align: center; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .divider {
      border-bottom: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 0; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
      width: 100%;
      margin-top: 10px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
      width: 100%;
      margin-top: 5px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
      margin-left: -15px; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle {
      margin-left: -15px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown button.dropdown-toggle img.agent {
        width: 100%; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu {
      margin-left: -15px; }
      .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 .dropdown ul.dropdown-menu li a img.agent {
        width: 100%; }
    .main_content_smartphone .container .panel-body .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
      font-weight: bold;
      margin-left: -15px;
      margin-top: 20px; }
  .main_content_smartphone .container .panel-body .tab .container ul.nav-tabs {
    margin-left: 20%; }
  .main_content_smartphone .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_smartphone .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_smartphone .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-smartphone nav.navbar-static-bottom {
    background-image: url("../img/footer-mobile-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu {
      margin-top: 0; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.satu ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua h4.etalase-foot {
      color: white;
      font-weight: bold;
      font-size: 16px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li {
      padding-left: 0;
      list-style: none;
      margin-left: -40px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer {
        color: white;
        text-decoration: none; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.dua ul.etalase-footer li a.etalase-footer:hover {
          color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga {
      margin-top: 25px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.tiga ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat {
      margin-top: -105px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat h4.etalase-foot {
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: -50px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li {
        padding-left: 0;
        list-style: none;
        margin-left: -40px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer {
          color: white;
          text-decoration: none; }
          .footer-smartphone nav.navbar-static-bottom .col-sm-9 .col-xs-6.empat ul.etalase-footer li a.etalase-footer:hover {
            color: #cdc8b1; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported h4.sponsor {
      color: white;
      text-align: center;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.amtek {
      margin-left: 25px;
      width: 20%; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 a img.etalase {
      margin-left: 55px;
      width: 40%;
      margin-right: -15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-9 .copyright {
      color: white;
      text-align: center;
      margin-top: 15px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom h4 {
      color: white;
      font-weight: bold; }
    .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
      margin-top: -15px;
      margin-bottom: -30px; }
      .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
        margin-left: -22px; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
          border-top: transparent; }
        .footer-smartphone nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
          border-top: transparent;
          color: white;
          position: absolute;
          left: 35px; } }

/*# sourceMappingURL=mobile-responsive.css.map */
