/*============================================== */
/*---------------------------------------------- */
/*				  TABLET STYLE 	 				 */
/*============================================== */
/* Author		: Arief Budi Prasetyo			 */
/* For 			: Etalasebaju Detail			 */
/* Responsive	: Tablet						 */
/* Version		: 1.0							 */
/* Email		: arief.prasetyo911@gmail.com 	 */
/*---------------------------------------------- */
/*============================================== */
body {
  font-size: 14px;
  font-style: normal; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 85px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 87%;
          margin-left: 5px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: -21px; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -17px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown {
        margin-top: 7px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
          color: white;
          font-weight: bold;
          background-color: #ff4500;
          font-size: 20px;
          margin-top: -3px;
          margin-right: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
          color: #ccc; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
          width: 30px;
          height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 223px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 2px;
        margin-right: 19px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .panel {
    border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-4 .thumbnail {
      padding: 0;
      margin-bottom: 5px;
      object-fit: cover;
      border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-8 .thumbnail {
      padding: 0;
      margin-left: -11px;
      object-fit: cover;
      border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .desc {
      padding-right: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .main_content_tablet .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_tablet .container .panel .col-xs-12 .desc ul li {
        list-style: none;
        margin-left: -40px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top h4 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 0; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top h5#satu {
      margin-bottom: -7px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 {
      margin-left: -31px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top1 .dropdown button.dropdown-toggle {
        border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 {
      margin-left: 29px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown button.dropdown-toggle {
        border-radius: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li {
        padding-right: -100px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li a {
          margin-right: 70px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 {
      border-top: transparent;
      padding-left: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price1 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 {
      border-top: transparent; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-price tr td#price2 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#satu {
      margin-top: -35px;
      text-align: center; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top p#dua {
      margin-top: -12px;
      text-align: center; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 {
      border-top: transparent;
      padding-left: 0;
      padding-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock1 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 {
      border-top: transparent;
      padding-left: 0;
      padding-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top table.table-stock tr td#stock2 h4 {
        font-size: 14px;
        font-weight: bold; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row {
      margin-top: -30px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .titles h4 {
        font-size: 14px;
        font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-top .row .contents {
        margin-top: -7px;
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .divider {
      border-bottom: 1px solid #ccc;
      margin-top: 5px;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.cart {
      width: 100%;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-center a img.buy {
      width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
      text-align: left;
      margin-left: -15px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 p#reguler {
      margin-left: -5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle {
      margin-left: -13px;
      width: 235%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle img.agent {
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu {
      margin-left: -14px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu li a img.agent {
        width: 100%; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 p#share-title {
      margin-left: -15px;
      margin-top: 15px;
      font-weight: bold;
      margin-bottom: 5px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel-body .widget-bottom .col-xs-12 .share a img.sosmed {
      margin-left: 0; }
    .main_content_tablet .container .panel .tab {
      margin-top: -10px; }
  .main_content_tablet .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_tablet .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_tablet .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      text-align: center; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .btm {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .btm .top {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .top h4 {
          color: white; }
        .footer-tablet nav.navbar-static-bottom .btm .top .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact {
            margin-bottom: -25px; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .top .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; }
      .footer-tablet nav.navbar-static-bottom .btm .bottom {
        padding: 0; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom h4 {
          color: white;
          margin-top: 30px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .divider {
          border-bottom: 1px solid #ccc;
          margin-top: -3px;
          margin-bottom: 3px; }
        .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 {
          padding-left: 0;
          padding-right: 0; }
          .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact {
            margin-bottom: -15px;
            margin-top: -10px; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact1 {
              border-top: transparent;
              padding-left: 0; }
            .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 {
              border-top: transparent;
              position: absolute;
              left: 30px; }
              .footer-tablet nav.navbar-static-bottom .btm .bottom .col-xs-12 table.contact tr td#contact2 h5 {
                color: white; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header-tablet .navbar {
    background-color: #ff4500;
    border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-header {
      margin-left: -90px; }
      .header-tablet .navbar .container-fluid .navbar-header a.fa-left {
        margin-left: 100px;
        margin-top: 3px; }
      .header-tablet .navbar .container-fluid .navbar-header a.logo img.logo {
        margin-right: 10px;
        width: 50%;
        margin-top: -13px; }
      .header-tablet .navbar .container-fluid .navbar-header ul.multi-level {
        margin-left: 23px;
        border-top: 3px solid #ff4500;
        margin-top: 0; }
        .header-tablet .navbar .container-fluid .navbar-header ul.multi-level .dropdown-menu {
          border-radius: 0; }
    .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form {
      margin-left: -175px; }
      .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group {
        margin-top: -4px; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group input.form-control {
          height: 32px;
          width: 400px;
          margin-left: 15px;
          border-radius: 0; }
        .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group {
          margin-top: 4px; }
          .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn {
            margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn button.dropdown-toggle {
              padding: 6px;
              height: 32px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              margin-left: 0; }
            .header-tablet .navbar .container-fluid .navbar-collapse form.navbar-form .form-group .input-group .input-group-btn .dropdown-menu-right {
              border-top: 3px solid #ff4500;
              margin-top: 11px; }
    .header-tablet .navbar .container-fluid .navbar-collapse button.btn-default {
      padding: 0;
      margin-left: -20px;
      border: transparent; }
    .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right {
      margin-right: -17px;
      margin-top: -3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.Notification {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right li a.cart {
        padding-left: 3px;
        padding-right: 3px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .dropdown-toggle {
        color: white;
        font-weight: bold;
        background-color: #ff4500;
        font-size: 20px;
        margin-top: 3px;
        margin-right: 10px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown:active {
        color: #ccc; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right .dropdown .img-circle {
        width: 30px;
        height: 30px; }
      .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        border-top: 3px solid #ff4500;
        margin-top: 4px;
        margin-left: 13px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .form-group {
          margin-bottom: 10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass {
          margin-bottom: 10px; }
          .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .pass .forgot {
            margin-top: -10px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon img {
          width: 100%;
          border-radius: 3px; }
        .header-tablet .navbar .container-fluid .navbar-collapse ul.navbar-right #login-dp .icon p {
          text-align: center;
          margin-bottom: 3px;
          margin-top: 3px; }
  .header-tablet .container {
    margin-top: 60px; }
    .header-tablet .container .breadcrumb {
      margin-bottom: 5px;
      background-color: white;
      padding-left: 0; }
    .header-tablet .container .divider {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      -webkit-margin-after: 20px;
      margin-top: -10px;
      -webkit-margin-before: -10px; }

  .main_content_tablet .container .panel {
    border-radius: 0; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-4 .thumbnail {
      padding: 2px;
      margin-bottom: 5px;
      object-fit: cover; }
    .main_content_tablet .container .panel .col-xs-12 .image .col-xs-8 .thumbnail {
      padding: 2px;
      margin-left: -11px;
      object-fit: cover; }
    .main_content_tablet .container .panel .col-xs-12 .desc {
      padding-right: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .desc .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .main_content_tablet .container .panel .col-xs-12 .desc p {
        text-align: justify; }
      .main_content_tablet .container .panel .col-xs-12 .desc ul li {
        list-style: none;
        margin-left: -40px; }
    .main_content_tablet .container .panel .col-xs-12 .sidebar .panel {
      border-radius: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top h4 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top h5#satu {
        margin-bottom: -7px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top1 {
        margin-left: -31px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top1 .dropdown button.dropdown-toggle {
          border-radius: 0;
          width: 110px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 {
        margin-left: 29px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown button.dropdown-toggle {
          border-radius: 0;
          width: 110px;
          margin-left: -5px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li {
          padding-right: -100px; }
          .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .col-xs-12 .top2 .dropdown ul.dropdown-menu li a {
            margin-right: 70px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price1 {
        border-top: transparent;
        padding-left: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price1 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price2 {
        border-top: transparent; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-price tr td#price2 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top p#satu {
        margin-top: -35px;
        text-align: center; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top p#dua {
        margin-top: -12px;
        text-align: center; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock1 {
        border-top: transparent;
        padding-left: 0;
        padding-top: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock1 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock2 {
        border-top: transparent;
        padding-left: 0;
        padding-top: 0; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top table.table-stock tr td#stock2 h4 {
          font-size: 14px;
          font-weight: bold; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row {
        margin-top: -30px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row .titles h4 {
          font-size: 14px;
          font-weight: bold; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-top .row .contents {
          margin-top: -7px;
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .divider {
        border-bottom: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-center a img.cart {
        width: 100%;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-center a img.buy {
        width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 p#shipping {
        text-align: left;
        margin-left: -15px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 p#reguler {
        margin-left: -5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle {
        margin-left: -13px;
        width: 130%; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 button.dropdown-toggle img.agent {
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu {
        margin-left: -14px; }
        .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .row .col-xs-4 ul.dropdown-menu li a img.agent {
          width: 100%; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 p#share-title {
        margin-left: -15px;
        margin-top: 15px;
        font-weight: bold;
        margin-bottom: 5px; }
      .main_content_tablet .container .panel .col-xs-12 .sidebar .panel .widget-bottom .col-xs-12 .share a img.sosmed {
        margin-left: 0; }
    .main_content_tablet .container .panel .tab {
      margin-top: -10px; }
  .main_content_tablet .container .metode {
    border-top: 3px dashed orange;
    padding: 0; }
    .main_content_tablet .container .metode .col-xs-2 {
      padding: 0;
      margin-bottom: 15px; }
      .main_content_tablet .container .metode .col-xs-2 p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
        font-weight: bold; }

  .footer-tablet nav.navbar-static-bottom {
    background-image: url("../img/footer-bg.png");
    background-size: 100%;
    height: 100%;
    border: transparent;
    background-repeat: round;
    border-radius: 0; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 h4 {
      font-size: 14px;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer {
      padding-left: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li {
        list-style: none; }
        .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer {
          font-style: normal;
          text-decoration: none;
          color: white; }
          .footer-tablet nav.navbar-static-bottom .col-sm-9 .col-sm-3 ul.etalase-footer li a.etalase-footer:hover {
            color: #ccc; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .divider {
      border-bottom: 1px solid #ccc;
      margin-top: -3px;
      margin-bottom: 3px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported h4 {
      text-align: center;
      font-weight: bold;
      color: white; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .supported .row .col-md-5 {
      margin-left: 30%; }
    .footer-tablet nav.navbar-static-bottom .col-sm-9 .copyright p {
      color: white;
      text-align: center;
      font-weight: bold;
      margin-top: 15px; }
    .footer-tablet nav.navbar-static-bottom .col-sm-3 {
      padding: 0; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top h4 {
        color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact {
          margin-bottom: -25px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .top .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom h4 {
        color: white;
        margin-top: 30px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .divider {
        border-bottom: 1px solid #ccc;
        margin-top: -3px;
        margin-bottom: 3px; }
      .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 {
        padding-left: 0;
        padding-right: 0; }
        .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact {
          margin-bottom: -15px;
          margin-top: -10px; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact1 {
            border-top: transparent;
            padding-left: 0; }
          .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 {
            border-top: transparent;
            position: absolute;
            left: 30px; }
            .footer-tablet nav.navbar-static-bottom .col-sm-3 .bottom .col-xs-12 table.contact tr td#contact2 h5 {
              color: white; } }

/*# sourceMappingURL=tablet-responsive.css.map */
