/*==============================================*/
/*----------------------------------------------*/
/*				  TABLET STYLE 	 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju					*/
/* Responsive	: Tablet						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/
body{
	font-size: 12px;
	font-style: normal;
}

@media (min-width: 768px) and (max-width: 992px) {
	.header-tablet{
		nav.navbar{
			background-color: #ff4500;

			.container-fluid{
				.navbar-header{
					margin-left: -90px;

					a.navbar-brand{
						margin-left: 70px;
						margin-top: 5px;
					}

					a.logo{
						img.logo{
							margin-left: -90px;
							width: 75%;
							margin-top: -15px;
						}
					}
				}

				.navbar-collapse{
					form.navbar-form{
						margin-left: -175px;

						.form-group{
							input.form-control{
								height: 38px;
							}

							button.dropdown-toggle{
								padding: 6px;
								height: 38px;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
							}


						}
					}

					button.btn-default{
						padding: 0;
						margin-left: -20px;
					}

					ul.navbar-nav{
						-webkit-margin-start: -10px;
						margin-left: -10px;
						-moz-margin-end: 10px;

						li{
							a.cart{
								color: white;
							}
						}
					}
				}
			}
		}
	}	

	.main_content_tablet{
		.container{
			panel-body{
				.col-xs-12{
					.image{
						.col-xs-4{
							.col-xs-12{
								padding: 0;
							}
						}
					}

					.desc{

					}

					.sidebar{

					}
				}
			}
		}
	}
	
}