/*==============================================*/
/*----------------------------------------------*/
/*					  STYLE 	 				*/
/*==============================================*/
/* Author	: Arief Budi Prasetyo				*/
/* For 		: Detail Etalasebaju				*/
/* Version	: 1.0								*/
/* Email	: arief.prasetyo911@gmail.com 		*/
/*----------------------------------------------*/
/*==============================================*/

/* header */
$container-mar-top	: 65px

/* body */
$color-table-price-h4: orange
$color-table-stock-h4: black
$color-row-titles-h4: black
$color-row-content-h4: black
$color-tab: orange

body
	font-size: 16px
	font-style: normal

/* footer */
$color-etalase-footer: white
@media only screen  and (min-width : 1224px)
	.header
		.navbar
			background-color: #ff4500

			.container-fluid
				.navbar-header
					-webkit-padding-start: 100px
					-moz-padding-start: 100px
					padding-left: 100px
				
					a.fa-left
						color: white
						-webkit-padding-before: 20px
						-moz-padding-before: 20px
						padding-top: 20px
						margin-left: -25px
						-webkit-margin-start: -25px
						-moz-margin-start: -25px

					a.logo
						-webkit-margin-before: -10px
						-webkit-padding-start: 30px
						-moz-margin-before: -10px
						-moz-padding-start: 30px
						padding-left: -10px
						padding-right: 30px
						margin-top: -8px

					img.logo
						height: 230%
						margin-left: -15px

					ul.multi-level
						border-top: 3px solid #ff4500
						-webkit-margin-start: 104px
						-moz-padding-start: 0
						margin-left: 104px
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					.form-group
						input.field
							width: 550px
							height: 37px
							border-radius: 0
							margin-top: 1px
							-webkit-margin-before: 1px
							margin-left: -35px
							-webkit-margin-start: -35px

							&:focus
								border-color: transparent

						.input-group-btn
							.dropdown-toggle
								height: 37px
								border-radius: 0
								margin-top: 0.5px

							.dropdown-menu-right
								border-top: 3px solid #ff4500
								margin-top: 9px

					button.btn-sm
						border: transparent
						border-radius: 0
						padding: 0
						margin-left: 5px
						margin-left: -21px

						img
							height: 39px

					ul.navbar-right
						margin-right: 44px

						.dropdown
							li
								a.notification
									padding-right: 0

							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: 3px


								&:active
									color: #ccc

								&:focus
									background-color: #ff4500

								.img-circle
									width: 30px
									height: 30px

							#login-dp
								min-width: 250px
								padding: 14px 14px 0
								overflow:hidden
								background-color:rgba(255,255,255,.8)
								border-top: 3px solid #ff4500
								margin-top: 4px
								margin-right: 16px
								-webkit-margin-end: 16px
								-moz-margin-end: 16px

								.form-group
									margin-bottom: 10px

								.pass
									margin-bottom: 10px

									.forgot
										margin-top: -10px

								.icon
									img
										width: 100%
										border-radius: 3px

									p
										text-align: center
										margin-bottom: 3px
										margin-top: 3px

		.container
			-webkit-margin-before: $container-mar-top
			-moz-margin-before: $container-mar-top
			margin-top: $container-mar-top

			ol.breadcrumb
				background-color: white
				padding-left: 0px

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 25px
				-webkit-margin-after: 25px
				margin-top: -15px
				-webkit-margin-before: -15px

	.main_content
		.container
			.panel
				border-radius: 0
				.col-xs-12
					.widget-top
						.col-xs-12
							.top1
								padding: 0
								-webkit-margin-start: -14px
								-moz-margin-start: -14px
								margin-left: -14px

								.dropdown
									button.dropdown-toggle
										border-radius: 0
										width: 110%
							.top2
								padding: 0
								-webkit-margin-start: -14px
								-moz-margin-start: -14px
								margin-left: -14px

								.dropdown
									button.dropdown-toggle
										border-radius: 0
										width: 110%
										-webkit-margin-start: 32px
										-moz-margin-start: 32px
										margin-left: 32px

									ul.dropdown-menu
										-webkit-margin-start: 32px
										margin-left: 32px

						table.table-price
							border-top: 0

							tr
								td#price1
									-webkit-padding-start: 0
									-moz-padding-start: 0
									padding-left: 0
									border-top: 0

									h4
										font-weight: bold

								td#price2
									-webkit-padding-start: 0
									-moz-padding-start: 0
									padding-left: 0
									border-top: 0

									h4
										font-weight: 800
										color: $color-table-price-h4

						p
							-webkit-margin-before: -30px
							margin-top: -30px
							text-align: center

						table.table-stock
							border-top: 0
							-webkit-margin-before: -15px
							-moz-margin-before: -15px
							margin-top: 15px

							tr
								td#stock1
									-webkit-padding-start: 0
									-moz-padding-start: 0
									padding-left: 0
									border-top: 0

									h4
										font-weight: bold

								td#stock2
									-webkit-padding-start: 0
									-moz-padding-start: 0
									padding-left: 0
									border-top: 0

									h4
										font-weight: 800
										color: $color-table-stock-h4

						.row
							-webkit-margin-before: -20px
							-moz-margin-before: -20px
							margin-top: -20px

							.titles
								h4
									font-weight: bold
									color: $color-row-titles-h4

							.contents
								font-weight: 800
								color: $color-row-content-h4

								input.form-control
									text-align: center

					.divider
						border-bottom: 1px solid #ccc
						-webkit-margin-before: 10px
						-moz-margin-before: 10px
						margin-top: 10px


					.widget-center
						-webkit-margin-before: 15px
						-moz-margin-before: 15px
						margin-top: 15px

						a
							img.cart
								width: 100%

							img.buy
								width: 100%
								-webkit-margin-before: 10px
								-moz-margin-before: 10px
								margin-top: 10px

					.widget-bottom
						.col-xs-12
							.row
								.col-xs-4
									-webkit-margin-before: 10px
									-moz-margin-before: 10px
									margin-top: 10px

									.dropdown
										button.dropdown-toggle
											-webkit-margin-before: 10px
											-moz-margin-before: 10px
											margin-top: 10px

											img.agent
												width: 100%
										
										ul.dropdown-menu
											li
												a
													img.agent
														width: 100%
									img.reguler
										-webkit-margin-before: 10px
										-moz-margin-before: 10px
										margin-top: 10px

									img.yes
										-webkit-margin-before: 10px
										-moz-margin-before: 10px
										margin-top: 10px

										
							p#share-title
								font-weight: bold
								-webkit-margin-before: 50px
								-webkit-margin-after: -50px
								margin-top: 50px
								margin-bottom: -50px

							.share
								-webkit-margin-before: 50px
								margin-top: 50px

								.col-xs-4
									a
										img.sosmed
											background-color: transparent

											&:hover
												background-color: transparent

				.image
					.col-xs-4
						.row
							.col-xs-12
								.thumbnail
									-webkit-margin-after: 5px
									margin-bottom: 5px
									object-fit: cover
									padding: 0
									border-radius: 0

									img
										width: 100%
					.col-xs-8
						.thumbnail
							-webkit-margin-after: 5px
							margin-bottom: 5px
							object-fit: cover
							padding: 0
							border-radius: 0
							
							img
								width: 100%

				.desc
					h1
						font-weight: bold
						-webkit-margin-before: -3px
						margin-top: -3px

					.divider
						-webkit-margin-after: 10px
						margin-bottom: 10px

					p
						text-align: justify

					ul
						-webkit-padding-start: 0
						-moz-padding-start: 0
						padding-left: 0

						li
							list-style: none

				.tab
					-webkit-margin-before: 35px
					margin-top: 35px

					#content
						ul#tabs
							li 
								a.tab
									font-weight: bold

									&:hover
										color: $color-tab
								
							li.active
								a.tab
									font-weight: bold	
									color: $color-tab

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-2
					padding: 0
					margin-bottom: 15px
					
					p
						margin-top: 10px
						margin-bottom: -10px
						font-size: 16px
						font-weight: bold

	.footer
		.navbar-static-bottom
		background-image: url("../img/footer-bg.png")
		background-size: 100%
		background-repeat: no-repeat

		.col-xs-9
			.col-xs-6

				h4.etalase-foot
					color: white
					text-align: left

				ul.etalase-footer
					padding-left: 0

					li
						list-style: none

						a.etalase-footer
							text-decoration: none
							color: $color-etalase-footer

							&:hover
								color: #1a1a1a
			.supported
				h4.sponsor
					text-align: center
					color: $color-etalase-footer
					border-top: 1px solid white
					-webkit-padding-before: 15px
					padding-top: 15px

				.sup
					margin-left: 20px

			.divider
				border-bottom: 1px solid white

			.copyright
				p
					text-align: center
					font-weight: bold
					color: $color-etalase-footer
					-webkit-margin-before: 20px
					margin-top: 20px


		.col-xs-3
			-webkit-padding-start: 0
			-moz-padding-start: 0
			padding-left: 0
			
			h5
				color: white
				text-decoration: divider

			.divider
				border-bottom: 1px solid white

			.top
				-webkit-padding-before: 20px
				padding-top: 20px
				padding: 0

				h4
					font-weight: bold
					color: white

				.col-xs-12
					-webkit-margin-after: -30px
					margin-bottom: -35px
					padding: 0

					.contact
						border-bottom: 0

						tr
							td#contact1
								border-top: transparent
								-webkit-padding-before: 0
								padding-top: 0
								border-bottom: transparent
								text-align: left

								h5#addr
									-webkit-margin-end: -35px

							td#contact2
								border-top: transparent
								-webkit-padding-before: 0
								padding-top: 0
								border-bottom: transparent
								
								h5
									position: absolute
									left: 55px

			.bottom
				-webkit-padding-before: 20px
				padding-top: 20px
				padding: 0

				h4
					font-weight: bold
					color: white

				.col-xs-12
					-webkit-margin-after: -30px
					margin-bottom: -35px
					padding: 0

					.contact
						border-bottom: 0

						tr
							td#contact1
								border-top: transparent
								-webkit-padding-before: 0
								padding-top: 0
								border-bottom: transparent

								h5#addr
									-webkit-margin-end: -35px
									margin-right: -35px

							td#contact2
								border-top: transparent
								-webkit-padding-before: 0
								padding-top: 0
								border-bottom: transparent

				#addr
					-webkit-margin-after: 0
					margin-bottom: 0
					
@import tablet-responsive

@import smartphone-responsive

@import mobile-responsive