/*==============================================*/
/*----------------------------------------------*/
/*				  SMARTPHONE STYLE 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju Konfirm Penerimaan*/
/* Responsive	: Smartphone					*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/
$div-margin: 15px


@media (min-width: 360px) and (max-width: 640px) and (orientation : portrait)

	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				border-color: transparent

				.navbar-header
					border-color: blue

					a.navbar-brand
						margin-top: -60px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.dropdown-toggle
							border-radius: 0
							width: 100%
							
						.login
							.dropdown-menu
								.btn-warning
									width: 100%
									border-radius: 0

						p
							color: white
							text-align: center

						form.navbar-form
							border-color: #ff4500
							margin-top: -10px

							input.form-control
								width: 100%
								border-radius: 0
								-webkit-border-radius: 0
								-moz-border-radius: 0
								text-align: center 
							a 
								button.btn-success
									width: 100%
									text-align: center
									border-radius: 0
									-webkit-border-radius: 0
									-moz-border-radius: 0

						form.navbar-icon
							margin-top: -10px

							img.notif 
								padding-left: 35%

							img.cart
								padding-left: 50px

						.dropdown
							.dropdown-toggle
								width: 100%
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							.dropdown-menu
								li
									a
										color: white

										&:hover
											background-color: #ff7f24

		.container
			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0
				margin-top: 50px

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: -10px
				-webkit-margin-before: -10px
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 100%

	.main-content-smartphone
		.bottomz
			.panel-default
				border-radius: 0
				.left
					h5
						font-weight: bold
						color: #ff4500
						margin-left: -15px

					.row
						.left 
							padding-left: 0
							.thumbnail
								padding: 0
								object-fit: cover
								border-radius: 0

						.right	
							p
								font-weight: normal
								font-size: 14px

							h4
								font-weight: bold 
								color: #ff4500

				.right
					padding-left: 0
					padding-right: 0
					h5
						font-weight: bold
						color: #ff4500
						width: 100%

					p
						margin-bottom: 0

					p#price
						margin-bottom: 5px

					.panel-default
						background-color: #ffd39b

						.inside
							background-color: white
							border-radius: 0
							margin-bottom: 0

							p
								font-weight: bold
								margin-bottom: 0

					.col-xs-8
						.col-xs-8
							.terima
								margin-left: -30px
								margin-top: -15px
								margin-bottom: 15px
								border-radius: 0
								font-weight: bold
								background-color: #ccc
								width: 149px

							.lacak
								margin-left: -30px
								margin-top: -10px
								margin-bottom: 15px
								border-radius: 0
								font-weight: bold
								background-color: #ccc
								width: 149px

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 15px
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: 15px
					
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.amtek
									margin-left: 0
									width: 20%

								img.etalase
									margin-left: 22%
									width: 40%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px
				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px


@media (min-width: 360px) and (max-width: 640px) and (orientation : landscape)
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				border-color: transparent

				.navbar-header
					border-color: blue

					a.navbar-brand
						margin-top: -10px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.dropdown-toggle
							border-radius: 0
							width: 100%
							
						.login
							.dropdown-menu
								.btn-warning
									width: 100%
									border-radius: 0

						p
							color: white
							text-align: center

						form.navbar-form
							border-color: #ff4500
							margin-top: -10px

							input.form-control
								width: 100%
								border-radius: 0
								-webkit-border-radius: 0
								-moz-border-radius: 0
								text-align: center 
							a 
								button.btn-success
									width: 100%
									text-align: center
									border-radius: 0
									-webkit-border-radius: 0
									-moz-border-radius: 0

						form.navbar-icon
							margin-top: -10px

							img.notif 
								padding-left: 35%

							img.cart
								padding-left: 20%

						.dropdown
							.dropdown-toggle
								width: 100%
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							.dropdown-menu
								li
									a
										color: white

										&:hover
											background-color: #ff7f24

		.container
			margin-top: 0

			.breadcrumb
				margin-bottom: 25px
				background-color: white
				margin-top: 55px
				padding: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: -20px
				-webkit-margin-before: -20px
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 100%

	.main-content-smartphone
		.bottomz
			.panel-default
				border-radius: 0
				.left
					h5
						font-weight: bold
						color: #ff4500
						margin-left: -15px

					.row
						.left 
							padding-left: 0
							.thumbnail
								padding: 0
								object-fit: cover
								border-radius: 0

						.right	
							p
								font-weight: normal
								font-size: 14px

							h4
								font-weight: bold 
								color: #ff4500

				.right
					padding-left: 0
					padding-right: 0
					h5
						font-weight: bold
						color: #ff4500
						width: 100%

					p
						margin-bottom: 0

					p#price
						margin-bottom: 5px

					.panel-default
						background-color: #ffd39b

						.inside
							background-color: white
							border-radius: 0
							margin-bottom: 0

							p
								font-weight: bold
								margin-bottom: 0

					.col-xs-8
						.col-xs-8
							.terima
								margin-left: -30px
								margin-top: -15px
								margin-bottom: 15px
								border-radius: 0
								font-weight: bold
								background-color: #ccc
								width: 368%

							.lacak
								margin-left: -30px
								margin-top: -10px
								margin-bottom: 15px
								border-radius: 0
								font-weight: bold
								background-color: #ccc
								width: 368%

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 35px
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -127px
					
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.amtek
									margin-left: 0
									width: 15%

								img.etalase
									margin-left: 25%
									width: 30%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									position: absolute
									left: 35px
									color: white

				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									position: absolute
									left: 35px
									color: white