/*==============================================*/
/*----------------------------------------------*/
/*				  SMARTPHONE STYLE 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju Profil			*/
/* Responsive	: Mobile						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/

$divider-mar: 30px
// Start: 320px Mobile
@media (min-width: 320px) and (max-width: 360px)

	.header-smartphone
		nav.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -60px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.dropdown-toggle
							border-radius: 0
							width: 100%
							
						.login
							.dropdown-menu
								.btn-warning
									width: 100%
									border-radius: 0

						p
							color: white
							text-align: center

						form.navbar-form
							border-color: #ff4500
							margin-top: -10px

							input.form-control
								width: 100%
								border-radius: 0
								-webkit-border-radius: 0
								-moz-border-radius: 0
								text-align: center 
							a 
								button.btn-success
									width: 100%
									text-align: center
									border-radius: 0
									-webkit-border-radius: 0
									-moz-border-radius: 0

						form.navbar-icon
							margin-top: -10px
							
							img.notif 
								padding-left: 35%

							img.cart
								padding-left: 50px



						.dropdown
							.dropdown-toggle
								width: 100%
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							.dropdown-menu
								li
									a
										color: white

										&:hover
											background-color: #ff7f24

		.container
			margin-bottom: -25px
			.breadcrumb
				margin-bottom: 15px
				background-color: white
				padding-left: 0
				margin-top: 50px

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: -20px
				-webkit-margin-before: -20px
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 100%

	.main_content_smartphone
		.container
			margin-top: 20px
			.form
				padding-left: 0
				.form-group
					.form-control
						border-radius: 0

			.photo
				img.img-circle
					margin-left: 5px
					object-fit: cover

				.form-group
					margin-left: 25%
					margin-top: 5px

				.history
					background-color: #ff4500
					color: white
					margin-left: 16%
					margin-top: 10px

				.apply
					background-color: #ff4500
					color: white
					margin-left: 20%
					margin-top: 258px										

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: 17px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 45px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -166px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.amtek
									margin-left: 0
									width: 20%

								img.etalase
									margin-left: 22%
									width: 40%


				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent

									h5#satu
										color: white
										margin-left: -33px

									h5#dua
										color: white
										position: relative
										left: -20px

									h5#tiga
										color: white
										position: relative
										left: -17px

									h5#empat
										color: white
										position: relative
										left: 0


				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent

									h5#satu
										color: white
										margin-left: 5px

									h5#dua
										color: white
										position: relative
										left: 4px

									h5#tiga
										color: white
										position: relative
										left: -27px