// Start: 320px Mobile
@media (min-width: 320px) and (max-width: 360px)

	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -60px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.login
							.dropdown-menu
								.form-group
									.form-control
										border-radius: 0

								.pass
									margin-top: -12px

									.form-control
										border-radius: 0

								.btn-success
									width: 100%
									margin-top: -12px

						p
							color: white
							text-align: center

						form.navbar-icon
							margin-top: -10px

							img.notif 
								margin-left: 35%

							img.cart
								padding-left: 50px

						.navbar-icon
							border-color: transparent

						.navbar-form-search
							border-color: transparent
							margin-top: -10px

							.form-group
								.form-control
									text-align: center
							a
								.btn-success
									width: 100%

						.dropdown
							button.dropdown-toggle
								width: 100%
								border-radius: 0
								margin-bottom: -1px
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							ul.dropdown-menu
								li 
									a
										color: white

		.container
			margin-top: 0

			.breadcrumb
				margin-bottom: 25px
				background-color: white
				margin-top: 55px
				padding: 0

	.main-content-smartphone
		background-color: white
		.col-md-offset-3
			.content
				background-color: #f2f2f2
				padding: 10px 20px 10px 20px
				border-radius: 3px
				margin-top: 100px
				margin-bottom: 50px
				.heading
					h3
						color: #ff4500
						text-align: center
						font-weight: bold
						font-size: 20px

					p
						text-align: center

				.body
					.submit
						.btn-border
							background-color: #ff4500
							transition: all 0.3s ease-in-out
							-webkit-transition: all 0.3s ease-in-out
							-moz-transition: all 0.3s ease-in-out
							-o-transition: all 0.3s ease-in-out
							color: white
							font-weight: bold
							margin-top: 10px

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			
			.col-sm-9
				.col-xs-6.satu
					margin-top: 0

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 25px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -105px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px
						margin-top: -50px
						
					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.amtek
									margin-left: 25px
									width: 20%

								img.etalase
									margin-left: 55px
									width: 40%
									margin-right: -15px

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px


				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px