/*==============================================*/
/*----------------------------------------------*/
/*				  TABLET STYLE 	 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Category Etalasebaju			*/
/* Responsive	: Tablet						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 85px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: -1px

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 191px
								margin-left: 5px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 0

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 13px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -7px
						-moz-margin-end: -10px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -1px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 0
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main_content_tablet
		.container
			margin-top: -10px

			nav.navbar-default
				background-color: white
				border-radius: 0

			.container-fluid
				padding: 0
				.navbar-collapse
					padding: 0
					ul.navbar-nav
					li
						&:hover
							background-color: #ff4500
							color: white
						a
							padding-left: 94px
							padding-right: 93px
							font-weight: bold
							color: black

							&:hover
								color: white

			.carousel
				margin-top: -18px

			.hot-deals
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0
							object-fit: cover
							
					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.new-product
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0

					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.popular-product
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0

					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-3
					padding: 0
					p
						margin-top: 10px
						margin-bottom: 5px
						font-size: 16px
						font-weight: bold

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			
			.col-sm-9
				.col-sm-3
					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							text-align: center 

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.btm3
				padding: 0

				.top
					padding: 0

					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 25px

									h5
										color: white

				.bottom
					padding: 0

					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 25px

									h5
										color: white

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 100px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 400px
								margin-left: 15px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 0

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 13px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: 3px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -1px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 0
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main_content_tablet
		.container
			margin-top: -10px
			nav.navbar-default
				background-color: white
				border-radius: 0

				.container-fluid
					padding: 0
					.navbar-collapse
						padding: 0
						ul.navbar-nav
							li
								&:hover
									background-color: #ff4500
									color: white
								a
									padding-left: 130px
									padding-right: 130px
									font-weight: bold
									color: black

									&:hover
										color: white

			.carousel
				margin-top: -18px

			.hot-deals
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0
							
					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.new-product
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0

					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.popular-product
				padding-right: 0
				.row
					img
						width: 100%
						object-fit: cover

					.first
						padding-left: 0

						a.thumbnail
							width: 100%
							border-radius: 0

					.second
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

					.third
						padding-left: 0
						
						a.thumbnail
							width: 100%
							border-radius: 0

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-3
					padding: 0
					p
						margin-top: 10px
						margin-bottom: 5px
						font-size: 16px
						font-weight: bold

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			border-radius: 0

			.col-sm-9
				.col-sm-3

					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							margin-left: 30%

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.col-sm-3
				padding: 0
				.top
					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white