/*==============================================*/
/*----------------------------------------------*/
/*					  STYLE 	 				*/
/*==============================================*/
/* Author	: Arief Budi Prasetyo				*/
/* For 		: System Status Pemesanan			*/
/* Version	: 1.0								*/
/* Email	: arief.prasetyo911@gmail.com 		*/
/*----------------------------------------------*/
/*==============================================*/

/* header */
$container-mar-top	: 65px
$div-margin: 105px


/* footer */
$color-etalase-footer: white

@media only screen  and (min-width : 1224px)
	.header
		.navbar
			background-color: #ff4500

			.container-fluid
				.navbar-header
					-webkit-padding-start: 100px
					-moz-padding-start: 100px
					padding-left: 100px
				
					a.fa-left
						color: white
						-webkit-padding-before: 20px
						-moz-padding-before: 20px
						padding-top: 20px
						margin-left: -25px
						-webkit-margin-start: -25px
						-moz-margin-start: -25px

					a.logo
						-webkit-margin-before: -10px
						-webkit-padding-start: 30px
						-moz-margin-before: -10px
						-moz-padding-start: 30px
						padding-left: -10px
						padding-right: 30px
						margin-top: -8px

					img.logo
						height: 230%
						margin-left: -15px

					ul.multi-level
						border-top: 3px solid #ff4500
						-webkit-margin-start: 104px
						-moz-padding-start: 0
						margin-left: 104px
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					.form-group
						input.field
							width: 550px
							height: 37px
							border-radius: 0
							margin-top: 1px
							-webkit-margin-before: 1px
							margin-left: -35px
							-webkit-margin-start: -35px

							&:focus
								border-color: transparent

						.input-group-btn
							.dropdown-toggle
								height: 37px
								border-radius: 0
								margin-top: 0.5px

							.dropdown-menu-right
								border-top: 3px solid #ff4500
								margin-top: 13px

					button.btn-sm
						border: transparent
						border-radius: 0
						padding: 0
						margin-left: 5px
						margin-left: -21px

						img
							height: 39px

					ul.navbar-right
						margin-right: 70px

						.dropdown
							.dropdown-toggle
								&:hover
									background-color: #ff4500

								&:focus
									background-color: #ff4500

								.img-circle
									width: 30px
									height: 30px

							#login-dp
								min-width: 250px
								padding: 14px 14px 0
								overflow:hidden
								background-color:rgba(255,255,255,.8)
								border-top: 3px solid #ff4500
								margin-top: 0
								margin-right: 16px
								-webkit-margin-end: 16px
								-moz-margin-end: 16px

								.form-group
									margin-bottom: 10px

								.pass
									margin-bottom: 10px

									.forgot
										margin-top: -10px

								.icon
									img
										width: 100%
										border-radius: 3px

									p
										text-align: center
										margin-bottom: 3px
										margin-top: 3px

		.container
			-webkit-margin-before: $container-mar-top
			-moz-margin-before: $container-mar-top
			margin-top: $container-mar-top

			ol.breadcrumb
				background-color: white
				padding-left: 0px

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 25px
				-webkit-margin-after: 25px
				margin-top: -15px
				-webkit-margin-before: -15px

	.main-content
		.container
			.navbar-default
				margin-top: -10px
				background-color: #e5e5e5
				border-radius: 0

				.navbar-nav
					li 
						a
							margin-left: -17px
							margin-right: -16px
							padding-left: 175px
							padding-right: 175px
							font-weight: bold

							&:hover
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

							&:focus
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

		.bottomz
			.panel-default
				border-radius: 0
				.left
					h3
						font-weight: bold
						color: #ff4500

					.row
						.left 
							.thumbnail
								padding: 0
								object-fit: cover
								border-radius: 0

						.right	
							p
								font-weight: normal
								font-size: 14px

							h4
								font-weight: bold 
								color: #ff4500


				.right
					h3
						font-weight: bold
						color: #ff4500

					.panel-default
						background-color: #ffd39b

					.col-xs-8
						.col-xs-4
							.terima
								margin-left: -30px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

							.lacak
								margin-left: -10px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

	.footer
		.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			background-repeat: no-repeat

			.col-xs-9
				.col-xs-6

					h4.etalase-foot
						color: white
						text-align: left

					ul.etalase-footer
						padding-left: 0

						li
							list-style: none

							a.etalase-footer
								text-decoration: none
								color: $color-etalase-footer

								&:hover
									color: #1a1a1a
				.supported
					h4.sponsor
						text-align: center
						color: $color-etalase-footer
						border-top: 1px solid white
						-webkit-padding-before: 15px
						padding-top: 15px

					.sup
						margin-left: 20px

				.divider
					border-bottom: 1px solid white

				.copyright
					p
						text-align: center
						font-weight: bold
						color: $color-etalase-footer
						-webkit-margin-before: 20px
						margin-top: 20px


			.col-xs-3
				-webkit-padding-start: 0
				-moz-padding-start: 0
				padding-left: 0
				
				h5
					color: white
					text-decoration: divider

				.divider
					border-bottom: 1px solid white

				.top
					-webkit-padding-before: 20px
					padding-top: 20px
					padding: 0

					h4
						font-weight: bold
						color: white

					.col-xs-12
						-webkit-margin-after: -30px
						margin-bottom: -35px
						padding: 0

						.contact
							border-bottom: 0

							tr
								td#contact1
									border-top: transparent
									-webkit-padding-before: 0
									padding-top: 0
									border-bottom: transparent
									text-align: left

									h5#addr
										-webkit-margin-end: -35px

								td#contact2
									border-top: transparent
									-webkit-padding-before: 0
									padding-top: 0
									border-bottom: transparent
									
									h5
										position: absolute
										left: 55px

				.bottom
					-webkit-padding-before: 20px
					padding-top: 20px
					padding: 0

					h4
						font-weight: bold
						color: white

					.col-xs-12
						-webkit-margin-after: -30px
						margin-bottom: -35px
						padding: 0

						.contact
							border-bottom: 0

							tr
								td#contact1
									border-top: transparent
									-webkit-padding-before: 0
									padding-top: 0
									border-bottom: transparent

									h5#addr
										-webkit-margin-end: -35px
										margin-right: -35px

								td#contact2
									border-top: transparent
									-webkit-padding-before: 0
									padding-top: 0
									border-bottom: transparent

					#addr
						-webkit-margin-after: 0
						margin-bottom: 0


@import etalasebaju-status-pemesanan-tablet

@import etalasebaju-status-pemesanan-smartphone

@import etalasebaju-status-pemesanan-mobile