/*==============================================*/
/*----------------------------------------------*/
/*				  SMARTPHONE STYLE 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju Register			*/
/* Responsive	: Smartphone					*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/


// Start: 360px Smartphone
@media (min-width: 360px) and (max-width: 767px) and (orientation : portrait)
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -60px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.login
							.dropdown-menu
								.form-group
									.form-control
										border-radius: 0

								.pass
									margin-top: -12px

									.form-control
										border-radius: 0

								.btn-success
									width: 100%
									margin-top: -12px

						p
							color: white
							text-align: center

						.navbar-icon
							border-color: transparent

						.navbar-form-search
							border-color: transparent
							margin-top: -10px

							.form-group
								.form-control
									text-align: center
							a
								.btn-success
									width: 100%

						.dropdown
							button.dropdown-toggle
								width: 100%
								border-radius: 0
								margin-bottom: -1px
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							ul.dropdown-menu
								li 
									a
										color: white

		.container
			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

	.main-content-smartphone
		background-color: white
		.col-md-offset-3
			.content
				background-color: #f2f2f2
				padding: 10px 20px 10px 20px
				border-radius: 3px
				margin-top: 100px
				margin-bottom: 50px
				.heading
					h3
						color: #ff4500
						text-align: center
						font-weight: bold
						font-size: 20px

					p
						text-align: center

				.body
					.submit
						.btn-border
							background-color: #ff4500
							transition: all 0.3s ease-in-out
							-webkit-transition: all 0.3s ease-in-out
							-moz-transition: all 0.3s ease-in-out
							-o-transition: all 0.3s ease-in-out
							color: white
							font-weight: bold
							margin-top: 10px
		
	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.etalase
									margin-left: 50px
									width: 40%
									margin-right: -15px

								img.amtek
									margin-left: 15px
									width: 20%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px
									

				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent


// Start: 360px Smartphone
@media (min-width: 360px) and (max-width: 767px) and (orientation : landscape)
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -10px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.login
							.dropdown-menu
								.form-group
									.form-control
										border-radius: 0

								.pass
									margin-top: -12px

									.form-control
										border-radius: 0

								.btn-success
									width: 100%
									margin-top: -12px

						p
							color: white
							text-align: center

						.navbar-icon
							border-color: transparent
							margin-left: 35%

							a.cart
								margin-left: 30%

						.navbar-form-search
							border-color: transparent
							margin-top: -10px

							.form-group
								.form-control
									text-align: center
							a
								.btn-success
									width: 100%

						.dropdown
							button.dropdown-toggle
								width: 100%
								border-radius: 0
								margin-bottom: -1px
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							ul.dropdown-menu
								li 
									a
										color: white

		.container		
			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0
				margin-top: 45px

	.main-content-smartphone
		background-color: white
		.col-md-offset-3
			.content
				background-color: #f2f2f2
				padding: 10px 20px 10px 20px
				border-radius: 3px
				margin-top: 100px
				margin-bottom: 50px
				.heading
					h3
						color: #ff4500
						text-align: center
						font-weight: bold
						font-size: 20px

					p
						text-align: center

				.body
					.submit
						.btn-border
							background-color: #ff4500
							transition: all 0.3s ease-in-out
							-webkit-transition: all 0.3s ease-in-out
							-moz-transition: all 0.3s ease-in-out
							-o-transition: all 0.3s ease-in-out
							color: white
							font-weight: bold
							margin-top: 10px

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 30px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -125px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							padding-left: 110px
							a
								img.etalase
									margin-left: 50px
									width: 40%
									margin-right: -15px

								img.amtek
									margin-left: 15px
									width: 20%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 30px

				.bottom
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 30px
