/*==============================================*/
/*----------------------------------------------*/
/*				  TABLET STYLE 	 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: System Checkout Etalasebaju	*/
/* Responsive	: Tablet						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 85px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: -1px

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 191px
								margin-left: 5px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 0

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 13px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -7px
						-moz-margin-end: -10px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -1px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 0
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main-content-tablet
		.container
			.left
				padding-left: 0
				input.form-control
					border-radius: 0

				textarea.form-control
					border-radius: 0

				.dropdown
					margin-bottom: 20px
					button.dropdown-toggle
						img.agent
							width: 125px
							height: 50px

			.right
				padding-right: 0
				.top
					margin-left: 20px

					h4
						font-weight: bold
						color: #ff4500

					.left
						padding-left: 0
						h4
							font-weight: bold
							color: black
						.row
							margin-right: -161px
							margin-left: 0
							.divider
								border-bottom: 2px solid #ccc
								margin-bottom: 10px

						.row
							.col-xs-4
								padding: 0
								.thumbnail
									margin-bottom: 0

							.right
								margin-left: 10px

								p#satu
									font-weight: normal
									margin-bottom: 10px

								p#tiga
									font-weight: normal
									margin-top: 10px
						h4#total
							font-weight: bold
							color: black
							margin-top: 0

					.right
						padding-left: 65px
						padding-right: 0
						h4
							font-weight: bold
							color: black
							
						.row
							.col-xs-12
								p#satu
									font-weight: bold
									padding-top: 73px

						.row
							.total
								padding: 0
								h4
									font-weight: bold
									color: black
									margin-top: 10px
									margin-left: -4px

				.bottom
					padding: 0
					margin-top: 20px
					h4
						font-weight: bold
						color: #ff4500
						margin-top: 20px
						margin-left: 35px

					.left
						padding: 0
						p#satu
							padding-left: 35px

						p#dua
							padding-left: 35px

						h4.total
							font-weight: bold
							color: black
							left: -1px
							position: relative

					.right
						padding: 0
						h4#satu
							font-weight: bold
							margin-top: 0
							margin-left: 63px
							color: black

						h4#dua
							font-weight: bold
							margin-top: 0
							margin-left: 63px
							color: black

						h4.total
							padding-left: 28px
							font-weight: bold
							color: black

					.row
						padding: 0
						.divider
							border-bottom: 2px solid #ccc
							margin-top: 60px
							margin-left: 50px
							margin-right: 21px

				.next
					.next
						background-color: #ff4500
						color: white
						font-weight: bold
						padding: 15px
						margin-top: 20px
						margin-left: 35%

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			border-radius: 0
			.col-sm-9
				.col-sm-3
					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							text-align: center 

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.btm3
				padding: 0

				.top
					padding: 0

					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 25px

									h5
										color: white

				.bottom
					padding: 0

					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 25px

									h5
										color: white


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 100px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 400px
								margin-left: 15px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 0

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 13px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: 3px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -1px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 0
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main-content-tablet
		margin-top: 15px
		.container
			padding-left: 0
			padding-right: 0
			.left
				input.form-control
					border-radius: 0

				.dropdown
					margin-bottom: 20px
					button.dropdown-toggle
						img.agent
							width: 125px
							height: 50px

			.right
				.top
					margin-left: 20px

					h4
						font-weight: bold
						color: #ff4500

					.left
						padding-left: 0
						h4
							font-weight: bold
							color: black
						.row
							margin-right: -161px
							margin-left: 0
							.divider
								border-bottom: 2px solid #ccc
								margin-bottom: 10px
								margin-right: -64px

						.row
							.col-xs-4
								padding: 0
								.thumbnail
									margin-bottom: 0

							.right
								margin-left: 10px

								p#satu
									font-weight: normal
									margin-bottom: 10px

								p#tiga
									font-weight: normal
									margin-top: 10px
						h4#total
							font-weight: bold
							color: black
							margin-top: 0

					.right
						padding-left: 85px
						padding-right: 0
						h4
							font-weight: bold
							color: black
							margin-left: 44px
							
						.row
							.col-xs-12
								p#satu
									font-weight: bold
									padding-top: 73px
									margin-left: 45px

						.row
							.total
								padding: 0
								h4
									font-weight: bold
									color: black
									margin-top: 10px
									margin-left: 41px

				.bottom
					padding: 0
					margin-top: 20px
					margin-left: 20px
					h4
						font-weight: bold
						color: #ff4500
						margin-top: 20px
						margin-left: 15px

					.left
						padding: 0
						p#satu
							padding-left: 15px

						p#dua
							padding-left: 15px

						h4.total
							font-weight: bold
							color: black
							left: -1px
							position: relative

					.right
						padding: 0
						h4#satu
							font-weight: bold
							margin-top: 0
							margin-left: 111px
							color: black

						h4#dua
							font-weight: bold
							margin-top: 0
							margin-left: 111px
							color: black

						h4.total
							padding-left: 96px
							font-weight: bold
							color: black

					.row
						padding: 0
						.divider
							border-bottom: 2px solid #ccc
							margin-top: 60px
							margin-left: 30px
							margin-right: 32px

				.next
					.next
						background-color: #ff4500
						color: white
						font-weight: bold
						padding: 15px
						margin-top: 20px
						margin-left: 44%

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			border-radius: 0

			.col-sm-9
				.col-sm-3

					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							margin-left: 30%

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.col-sm-3
				padding: 0
				.top
					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white