/*==============================================*/
/*----------------------------------------------*/
/*				  TABLET STYLE 	 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Konfirmasi Pembayaran 		*/
/* Responsive	: Tablet						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 85px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 87%
								margin-left: 5px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: -21px

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 11px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -4px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -3px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 4px
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main-content-tablet
		.container
			.navbar-default
				margin-top: -10px
				background-color: #e5e5e5
				border-radius: 0
				margin-bottom: 10px

				.navbar-nav
					li 
						a
							margin-left: -17px
							margin-right: -16px
							padding-left: 105px
							padding-right: 105px
							font-weight: bold

							&:hover
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

							&:focus
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

		.bottomz
			.panel-default
				border-radius: 0
				.left
					h4
						font-weight: bold
						color: #ff4500

					.row
						.left 
							.thumbnail
								padding: 0
								object-fit: cover
								border-radius: 0

						.right	
							p
								font-weight: normal
								font-size: 14px

							h4
								font-weight: bold 
								color: #ff4500


				.right
					padding-left: 0
					padding-right: 0
					h4
						font-weight: bold
						color: #ff4500

					.panel-default
						background-color: #ffd39b

					.col-xs-8
						.col-xs-4
							.terima
								margin-left: -30px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

							.lacak
								margin-left: 30px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			
			.col-sm-9
				.col-sm-3

					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							text-align: center 

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.col-sm-3
				padding: 0
				.top
					padding: 0

					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					padding: 0

					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 100px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 223%
								margin-left: 5px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 230px

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 11px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -4px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -3px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 4px
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main-content-tablet
		.container
			.navbar-default
				margin-top: -10px
				background-color: #e5e5e5
				border-radius: 0
				margin-bottom: 10px

				.navbar-nav
					li 
						a
							margin-left: -17px
							margin-right: -16px
							padding-left: 141px
							padding-right: 142px
							font-weight: bold

							&:hover
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

							&:focus
								border-top: 2px solid #ff4500
								background-color: white
								color: #ff4500

		.bottomz
			.panel-default
				border-radius: 0
				.left
					h4
						font-weight: bold
						color: #ff4500

					.row
						.left 
							.thumbnail
								padding: 0
								object-fit: cover
								border-radius: 0

						.right	
							p
								font-weight: normal
								font-size: 14px

							h4
								font-weight: bold 
								color: #ff4500


				.right
					padding-left: 0
					padding-right: 0
					h4
						font-weight: bold
						color: #ff4500

					.panel-default
						background-color: #ffd39b

					.col-xs-8
						.col-xs-4
							.terima
								margin-left: -30px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

							.lacak
								margin-left: 5px
								margin-top: -10px
								border-radius: 0
								font-weight: bold
								background-color: #ccc

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			border-radius: 0

			.col-sm-9
				.col-sm-3

					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							margin-left: 30%

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.col-sm-3
				padding: 0
				.top
					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white