/*==============================================*/
/*----------------------------------------------*/
/*				  SMARTPHONE STYLE 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju System Checkout	*/
/* Responsive	: Mobile						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/
$div-margin: 15px
$divider-mar: 30px


@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) 
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				border-color: transparent

				.navbar-header
					border-color: blue

					a.navbar-brand
						margin-top: -60px
						-moz-margin-end: -15px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.dropdown-toggle
							border-radius: 0
							width: 100%
							
						.login
							.dropdown-menu
								.btn-warning
									width: 100%
									border-radius: 0

						p
							color: white
							text-align: center

						form.navbar-form
							border-color: #ff4500
							margin-top: -10px

							input.form-control
								width: 100%
								border-radius: 0
								-webkit-border-radius: 0
								-moz-border-radius: 0
								text-align: center 
							a 
								button.btn-success
									width: 100%
									text-align: center
									border-radius: 0
									-webkit-border-radius: 0
									-moz-border-radius: 0

						form.navbar-icon
							margin-top: -10px

							img.notif 
								padding-left: 35%

							img.cart
								padding-left: 50px

						.dropdown
							.dropdown-toggle
								width: 100%
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							.dropdown-menu
								li
									a
										color: white

										&:hover
											background-color: #ff7f24

		.container
			margin-top: 0

			.breadcrumb
				margin-bottom: 25px
				background-color: white
				margin-top: 55px
				padding: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: -20px
				-webkit-margin-before: -20px
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 106%

	.main-content-smartphone
		.container
			margin-right: 0
			.left
				padding-left: 0
				input.form-control
					border-radius: 0

				.dropdown
					margin-bottom: 20px
					button.dropdown-toggle
						border-radius: 0
						img.agent
							width: 105px
							height: 35px

			.right
				padding-left: 0
				padding-right: 0
				.top
					margin-left: 20px
					padding-left: 0
					padding-right: 0
					h5
						font-weight: bold
						color: #ff4500
						margin-top: 3px

					.left
						padding-left: 0
						h5
							font-weight: bold
							color: black
						.row
							margin-right: -85px
							margin-left: 0
							.divider
								border-bottom: 2px solid #ccc
								margin-bottom: 10px

						.row
							.col-xs-8
								padding: 0
								.thumbnail
									margin-bottom: 0
									max-width: 78%

								p#satu
									font-weight: normal
									margin-bottom: 0								
								
						h5#total
							font-weight: bold
							color: black
							margin-top: 0

					.right
						padding-left: 45px
						padding-right: 0
						h5
							font-weight: bold
							color: black
							margin-left: -40px
							
						.row
							.col-xs-12
								p#satu
									padding-top: 94px
									margin-left: -53px

						.row
							.total
								padding: 0
								h5
									font-weight: bold
									color: black
									margin-top: 10px

				.bottom
					margin-left: 20px
					padding-left: 0
					padding-right: 0
					h5
						font-weight: bold
						color: #ff4500
						margin-top: 20px
						margin-left: 0

					.left
						padding: 0
						p#satu
							padding-left: 0

						p#dua
							padding-left: 0

						h5.total
							font-weight: bold
							color: black
							left: -1px
							position: relative

					.right
						padding: 0
						h5#satu
							font-weight: bold
							margin-top: 3px
							margin-left: -10px
							color: black

						h5#dua
							font-weight: bold
							margin-top: 36px
							margin-left: -10px
							color: black

						h5.total
							font-weight: bold
							margin-top: 43px
							margin-left: -10px
							color: black

					.row
						padding: 0
						.divider
							border-bottom: 2px solid #ccc
							margin-top: 105px
							margin-left: 15px
							margin-right: 19px

				.next
					border-radius: 0
					.next
						background-color: #ff4500
						color: white
						font-weight: bold
						padding: 15px
						margin-top: 20px
						margin-left: 12%

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			width: 103%

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 40px
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -164px
					
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.amtek
									margin-left: 0
									width: 20%

								img.etalase
									margin-left: 22%
									width: 40%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px
				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px