/*==============================================*/
/*----------------------------------------------*/
/*				  SMARTPHONE STYLE 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju					*/
/* Responsive	: Smartphone						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/

// Start: 360px Smartphone
@media (min-width: 360px) and (max-width: 767px) and (orientation : portrait)
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -60px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.login
							.dropdown-menu
								.form-group
									.form-control
										border-radius: 0

								.pass
									margin-top: -12px

									.form-control
										border-radius: 0

								.btn-success
									width: 100%
									margin-top: -12px

						p
							color: white
							text-align: center

						.navbar-icon
							border-color: transparent

						.navbar-form-search
							border-color: transparent
							margin-top: -10px

							.form-group
								.form-control
									text-align: center
							a
								.btn-success
									width: 100%

						.dropdown
							button.dropdown-toggle
								width: 100%
								border-radius: 0
								margin-bottom: -1px
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							ul.dropdown-menu
								li 
									a
										color: white

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: 0
				-webkit-margin-before: 0
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 100%

	.main_content_smartphone
		.container 
			.panel
				border-radius: 0
				.col-xs-12
					.image 
						.thumbnail
							height: 300px
							border-radius: 0

							img.image 
								height: 290px
								width: 100%
								object-fit: cover

					.desc 
						padding: 0

						h4
							font-weight: bold

						p 
							text-align: justify

						ul 
							padding-left: 0

							li
								list-style: none
								text-decoration: none

					.sidebar
						padding: 0

						.panel-body
							.widget-top
								h4
									font-weight: bold
									margin-top: 0

								.col-xs-12
									.top1
										button.dropdown-toggle
											width: 170%
											padding-left: 0
											margin-left: -30px
											border-radius: 0

										ul.dropdown-menu
											margin-left: -30px

									.top2
										button.dropdown-toggle
											width: 145%
											padding-left: 0
											margin-left: -3px
											border-radius: 0

										ul.dropdown-menu
											margin-left: -3px

								table.table-price
									tr 
										td#price1
											border-top: transparent
											padding-left: 0

										td#price2
											border-top: transparent
											text-align: right
											padding-right: 0

								p#satu
									text-align: center
									margin-top: -30px

								p#dua 
									text-align: center
									margin-top: -10px

								table.table-stock
									tr 
										td#stock1
											border-top: transparent
											padding-left: 0

										td#stock2
											border-top: transparent
											text-align: right
											padding-right: 0
								.row
									.titles
										h4
											margin-top: -30px

									.input-group
										margin-top: -5px

										input.form-control
											text-align: center

							.divider
								border-bottom: 1px solid #ccc
								margin-top: 10px
								margin-bottom: 0

							.widget-center
								a 
									img.cart
										width: 100%
										margin-top: 10px

									img.buy
										width: 100%
										margin-top: 5px

							.widget-bottom
								.col-xs-12
									.row 
										.col-xs-4
											p#shipping
												margin-left: -15px

											.dropdown
												button.dropdown-toggle
													margin-left: -15px

													img.agent 
														width: 100%

												ul.dropdown-menu
													margin-left: -15px

													li 
														a 
															img.agent 
																width: 100%
									p#share-title
										font-weight: bold 
										margin-left: -15px
										margin-top: 20px

				.tab
					.container
						ul.nav-tabs
							margin-left: 25%
							text-align: center

							li
								a
									text-align: center

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-2
					padding: 0
					margin-bottom: 15px
					
					p
						margin-top: 10px
						margin-bottom: -10px
						font-size: 14px
						font-weight: bold

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							a
								img.etalase
									margin-left: 50px
									width: 40%
									margin-right: -15px

								img.amtek
									margin-left: 15px
									width: 20%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 35px
									

				.bottom 
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent



// Start: 360px Smartphone
@media (min-width: 360px) and (max-width: 767px) and (orientation : landscape)
	.header-smartphone
		.navbar-default
			background-color: #ff4500

			.container 
				.navbar-header
					a.navbar-brand
						margin-top: -10px

						img.logo
							margin-left: 0
							width: 45%

				.navbar-collapse
					ul.navbar-nav
						.login
							.dropdown-menu
								.form-group
									.form-control
										border-radius: 0

								.pass
									margin-top: -12px

									.form-control
										border-radius: 0

								.btn-success
									width: 100%
									margin-top: -12px

						p
							color: white
							text-align: center

						.navbar-icon
							border-color: transparent
							margin-left: 35%

							a.cart
								margin-left: 30%

						.navbar-form-search
							border-color: transparent
							margin-top: -10px

							.form-group
								.form-control
									text-align: center
							a
								.btn-success
									width: 100%

						.dropdown
							button.dropdown-toggle
								width: 100%
								border-radius: 0
								margin-bottom: -1px
								background-color: #ff4500
								border-color: transparent
								color: white
								font-weight: bold
								text-align: left

								&:hover
									background-color: #ff7f24

							ul.dropdown-menu
								li 
									a
										color: white

		.container		
			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0
				margin-top: 45px

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 10px
				-webkit-margin-after: 10px
				margin-top: -10px
				-webkit-margin-before: -10px
				margin-left: 0
				-webkit-margin-start: 0
				-moz-margin-start: 0
				width: 100%

	.main_content_smartphone
		.container 
			.panel
				border-radius: 0
				.col-xs-12
					.image 
						.thumbnail
							height: 300px
							border-radius: 0

							img.image 
								height: 290px
								width: 100%
								object-fit: cover

					.desc 
						padding: 0

						h4
							font-weight: bold

						p 
							text-align: justify

						ul 
							padding-left: 0

							li
								list-style: none
								text-decoration: none

					.sidebar
						padding: 0

						.panel-body
							.widget-top
								h4
									font-weight: bold
									margin-top: 0

								.col-xs-12
									.top1
										button.dropdown-toggle
											width: 115%
											padding-left: 0
											margin-left: -30px
											border-radius: 0

										ul.dropdown-menu
											margin-left: -30px

									.top2
										button.dropdown-toggle
											width: 115%
											padding-left: 0
											margin-left: -3px
											border-radius: 0

										ul.dropdown-menu
											margin-left: -3px

								table.table-price
									tr 
										td#price1
											border-top: transparent
											padding-left: 0

										td#price2
											border-top: transparent
											text-align: right
											padding-right: 0

								p#satu
									text-align: center
									margin-top: -30px

								p#dua 
									text-align: center
									margin-top: -10px

								table.table-stock
									tr 
										td#stock1
											border-top: transparent
											padding-left: 0

										td#stock2
											border-top: transparent
											text-align: right
											padding-right: 0
								.row
									.titles
										h4
											margin-top: -30px

									.input-group
										margin-top: -5px

										input.form-control
											text-align: center

							.divider
								border-bottom: 1px solid #ccc
								margin-top: 10px
								margin-bottom: 0

							.widget-center
								a 
									img.cart
										width: 100%
										margin-top: 10px

									img.buy
										width: 100%
										margin-top: 5px

							.widget-bottom
								.col-xs-12
									.row 
										.col-xs-4
											p#shipping
												margin-left: -15px

											.dropdown
												button.dropdown-toggle
													margin-left: -15px

													img.agent 
														width: 100%

												ul.dropdown-menu
													margin-left: -15px

													li 
														a 
															img.agent 
																width: 100%
									p#share-title
										font-weight: bold 
										margin-left: -15px
										margin-top: 20px

				.tab
					.container
						ul.nav-tabs
							text-align: center

							li
								a
									text-align: center

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-2
					padding: 0
					margin-bottom: 15px
					
					p
						margin-top: 10px
						margin-bottom: -10px
						font-size: 14px
						font-weight: bold

	.footer-smartphone
		nav.navbar-static-bottom
			background-image: url("../img/footer-mobile-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round

			.col-sm-9
				.col-xs-6.satu
					margin-top: -3px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.dua
					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.tiga
					margin-top: 30px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.col-xs-6.empat
					margin-top: -125px

					h4.etalase-foot
						color: white
						font-weight: bold
						font-size: 16px

					ul.etalase-footer
						li
							padding-left: 0
							list-style: none
							margin-left: -40px

							a.etalase-footer
								color: white 
								text-decoration: none

								&:hover
									color: #cdc8b1

				.supported
					h4.sponsor
						color: white
						text-align: center
						font-weight: bold

					.row 
						.col-md-5
							padding-left: 110px
							a
								img.etalase
									margin-left: 50px
									width: 40%
									margin-right: -15px

								img.amtek
									margin-left: 15px
									width: 20%

				.copyright
					color: white
					text-align: center 
					margin-top: 15px

			.col-sm-3
				.top
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 30px

				.bottom
					h4
						color: white 
						font-weight: bold 

					.col-xs-12
						margin-top: -15px
						margin-bottom: -30px


						table.contact							
							margin-left: -22px

							tr 
								td#contact1
									border-top: transparent

								td#contact2
									border-top: transparent
									color: white
									position: absolute
									left: 30px