/*==============================================*/
/*----------------------------------------------*/
/*				  TABLET STYLE 	 				*/
/*==============================================*/
/* Author		: Arief Budi Prasetyo			*/
/* For 			: Etalasebaju Detail			*/
/* Responsive	: Tablet						*/
/* Version		: 1.0							*/
/* Email		: arief.prasetyo911@gmail.com 	*/
/*----------------------------------------------*/
/*==============================================*/

body
	font-size: 14px
	font-style: normal

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 85px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 87%
								margin-left: 5px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: -21px

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 11px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -17px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							margin-top: 7px
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: -3px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 223px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 2px
							margin-right: 19px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main_content_tablet
		.container 
			.panel
				border-radius: 0
				.col-xs-12
					.image
						.col-xs-4
							.thumbnail
								padding: 0
								margin-bottom: 5px
								object-fit: cover
								border-radius: 0

						.col-xs-8
							.thumbnail
								padding: 0
								margin-left: -11px
								object-fit: cover
								border-radius: 0
					.desc 
						padding-right: 0

						h4
							font-size: 18px
							font-weight: bold
							margin-top: 0

						.divider
							border-bottom: 1px solid #ccc
							margin-top: -3px
							margin-bottom: 3px

						p 
							text-align: justify 

						ul 
							li 
								list-style: none
								margin-left: -40px

					.sidebar
						.panel-body
							.widget-top
								h4
									font-size: 16px
									font-weight: bold
									margin-top: 0

								h5#satu
									margin-bottom: -7px

								.col-xs-12
									.top1
										margin-left: -31px

										.dropdown
											button.dropdown-toggle
												border-radius: 0

									.top2
										margin-left: 29px

										.dropdown
											button.dropdown-toggle
												border-radius: 0

											ul.dropdown-menu

												li
													padding-right: -100px

													a
														margin-right: 70px

								table.table-price
									tr 
										td#price1
											border-top: transparent
											padding-left: 0

											h4
												font-size: 14px
												font-weight: bold 

										td#price2
											border-top: transparent

											h4
												font-size: 14px
												font-weight: bold 
								p#satu
									margin-top: -35px
									text-align: center

								p#dua 
									margin-top: -12px
									text-align: center  

								table.table-stock
									tr 
										td#stock1
											border-top: transparent
											padding-left: 0
											padding-top: 0

											h4
												font-size: 14px
												font-weight: bold 

										td#stock2
											border-top: transparent
											padding-left: 0
											padding-top: 0

											h4
												font-size: 14px
												font-weight: bold 
								.row 
									margin-top: -30px

									.titles
										h4
											font-size: 14px
											font-weight: bold 

									.contents
										margin-top: -7px
										width: 100%

							.divider
								border-bottom: 1px solid #ccc
								margin-top: 5px
								margin-bottom: 5px

							.widget-center
								a
									img.cart
										width: 100%
										margin-bottom: 5px

									img.buy
										width: 100%

							.widget-bottom
								.col-xs-12
									.row 
										.col-xs-4
											p#shipping
												text-align: left
												margin-left: -15px

											p#reguler
												margin-left: -5px

											button.dropdown-toggle
												margin-left: -13px
												width: 235%
												
												img.agent 
													width: 100%

											ul.dropdown-menu
												margin-left: -14px

												li 
													a 
														img.agent
															width: 100%

									p#share-title
										margin-left: -15px
										margin-top: 15px
										font-weight: bold
										margin-bottom: 5px
									
									.share
										a 
											img.sosmed
												margin-left: 0
				.tab 
					margin-top: -10px

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-2
					padding: 0
					margin-bottom: 15px
					
					p
						margin-top: 10px
						margin-bottom: -10px
						font-size: 14px
						font-weight: bold

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			
			.col-sm-9
				.col-sm-3
					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							text-align: center 

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.btm
				padding: 0
				.top
					padding: 0

					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					padding: 0

					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
	.header-tablet
		.navbar
			background-color: #ff4500
			border-radius: 0

			.container-fluid
				.navbar-header
					margin-left: -90px

					a.fa-left
						margin-left: 100px
						margin-top: 3px

					a.logo
						img.logo
							margin-right: 10px
							width: 50%
							margin-top: -13px

					ul.multi-level
						margin-left: 23px
						border-top: 3px solid #ff4500
						margin-top: 0

						.dropdown-menu
							border-radius: 0

				.navbar-collapse
					form.navbar-form
						margin-left: -175px

						.form-group
							margin-top: -4px
							input.form-control
								height: 32px
								width: 400px
								margin-left: 15px
								border-radius: 0
							
							.input-group
								margin-top: 4px
								.input-group-btn
									margin-left: 0

									button.dropdown-toggle
										padding: 6px
										height: 32px
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										margin-left: 0

									.dropdown-menu-right
										border-top: 3px solid #ff4500
										margin-top: 11px

					button.btn-default
						padding: 0
						margin-left: -20px
						border: transparent

					ul.navbar-right
						margin-right: -17px
						margin-top: -3px

						li
							a.Notification
								padding-left: 3px
								padding-right: 3px

							a.cart
								padding-left: 3px
								padding-right: 3px

						.dropdown
							.dropdown-toggle
								color: white
								font-weight: bold
								background-color: #ff4500
								font-size: 20px
								margin-top: 3px
								margin-right: 10px

							&:active
								color: #ccc

							.img-circle
								width: 30px
								height: 30px

						#login-dp
							min-width: 250px
							padding: 14px 14px 0
							overflow:hidden
							background-color:rgba(255,255,255,.8)
							border-top: 3px solid #ff4500
							margin-top: 4px
							margin-left: 13px

							.form-group
								margin-bottom: 10px

							.pass
								margin-bottom: 10px

								.forgot
									margin-top: -10px

							.icon
								img
									width: 100%
									border-radius: 3px

								p
									text-align: center
									margin-bottom: 3px
									margin-top: 3px

		.container
			margin-top: 60px

			.breadcrumb
				margin-bottom: 5px
				background-color: white
				padding-left: 0

			.divider
				border-bottom: 1px solid #ccc
				margin-bottom: 20px
				-webkit-margin-after: 20px
				margin-top: -10px
				-webkit-margin-before: -10px

	.main_content_tablet
		.container 
			.panel
				border-radius: 0
				.col-xs-12
					.image
						.col-xs-4
							.thumbnail
								padding: 2px
								margin-bottom: 5px
								object-fit: cover

						.col-xs-8
							.thumbnail
								padding: 2px
								margin-left: -11px
								object-fit: cover
					.desc 
						padding-right: 0

						h4
							font-size: 18px
							font-weight: bold
							margin-top: 0

						.divider
							border-bottom: 1px solid #ccc
							margin-top: -3px
							margin-bottom: 3px

						p 
							text-align: justify 

						ul 
							li 
								list-style: none
								margin-left: -40px

					.sidebar
						.panel
							border-radius: 0
							.widget-top
								h4
									font-size: 16px
									font-weight: bold
									margin-top: 0

								h5#satu
									margin-bottom: -7px

								.col-xs-12
									.top1
										margin-left: -31px

										.dropdown
											button.dropdown-toggle
												border-radius: 0
												width: 110px

									.top2
										margin-left: 29px

										.dropdown
											button.dropdown-toggle
												border-radius: 0
												width: 110px
												margin-left: -5px

											ul.dropdown-menu

												li
													padding-right: -100px

													a
														margin-right: 70px

								table.table-price
									tr 
										td#price1
											border-top: transparent
											padding-left: 0

											h4
												font-size: 14px
												font-weight: bold 

										td#price2
											border-top: transparent

											h4
												font-size: 14px
												font-weight: bold 
								p#satu
									margin-top: -35px
									text-align: center

								p#dua 
									margin-top: -12px
									text-align: center  

								table.table-stock
									tr 
										td#stock1
											border-top: transparent
											padding-left: 0
											padding-top: 0

											h4
												font-size: 14px
												font-weight: bold 

										td#stock2
											border-top: transparent
											padding-left: 0
											padding-top: 0

											h4
												font-size: 14px
												font-weight: bold 
								.row 
									margin-top: -30px

									.titles
										h4
											font-size: 14px
											font-weight: bold 

									.contents
										margin-top: -7px
										width: 100%

							.divider
								border-bottom: 1px solid #ccc
								margin-top: 5px
								margin-bottom: 5px

							.widget-center
								a
									img.cart
										width: 100%
										margin-bottom: 5px

									img.buy
										width: 100%

							.widget-bottom
								.col-xs-12
									.row 
										.col-xs-4
											p#shipping
												text-align: left
												margin-left: -15px

											p#reguler
												margin-left: -5px

											button.dropdown-toggle
												margin-left: -13px
												width: 130%
												
												img.agent 
													width: 100%

											ul.dropdown-menu
												margin-left: -14px

												li 
													a 
														img.agent
															width: 100%

									p#share-title
										margin-left: -15px
										margin-top: 15px
										font-weight: bold
										margin-bottom: 5px
									
									.share
										a 
											img.sosmed
												margin-left: 0
				.tab 
					margin-top: -10px

			.metode
				border-top: 3px dashed orange
				padding: 0

				.col-xs-2
					padding: 0
					margin-bottom: 15px
					
					p
						margin-top: 10px
						margin-bottom: -10px
						font-size: 14px
						font-weight: bold

	.footer-tablet
		nav.navbar-static-bottom
			background-image: url("../img/footer-bg.png")
			background-size: 100%
			height: 100%
			border: transparent
			background-repeat: round
			border-radius: 0

			.col-sm-9
				.col-sm-3

					h4
						font-size: 14px
						font-weight: bold
						color: white 

					ul.etalase-footer
						padding-left: 0

						li 
							list-style: none

							a.etalase-footer
								font-style: normal
								text-decoration: none
								color: white 

								&:hover
									color: #ccc

				.divider
					border-bottom: 1px solid #ccc
					margin-top: -3px
					margin-bottom: 3px

				.supported
					h4
						text-align: center 
						font-weight: bold 
						color: white 

					.row 
						.col-md-5
							margin-left: 30%

				.copyright
					p 	
						color: white 
						text-align: center 
						font-weight: bold 
						margin-top: 15px


			.col-sm-3
				padding: 0
				.top
					h4
						color: white

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -25px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white

				.bottom
					h4
						color: white
						margin-top: 30px

					.divider
						border-bottom: 1px solid #ccc
						margin-top: -3px
						margin-bottom: 3px

					.col-xs-12
						padding-left: 0
						padding-right: 0

						table.contact
							margin-bottom: -15px
							margin-top: -10px

							tr 
								td#contact1
									border-top: transparent
									padding-left: 0

								td#contact2
									border-top: transparent
									position: absolute
									left: 30px

									h5
										color: white